Repository typelevel/sbt-typelevel: changes, and which Mergify rules are due for each by the changed paths.
All: Label ci PRs, Label ci-release PRs, Label ci-signing PRs, Label core PRs, Label docs PRs, Label github PRs, Label github-actions PRs, Label kernel PRs, Label mdocs PRs, Label mergify PRs, Label mima PRs, Label no-publish PRs, Label scalafix PRs, Label settings PRs, Label site PRs, Label sonatype PRs, Label sonatype-ci-release PRs, Label unidoc PRs, Label versioning PRs

Label ci PRs:
  label:
    add:
    - ci
    remove: []

Label ci-release PRs:
  label:
    add:
    - ci-release
    remove: []

Label ci-signing PRs:
  label:
    add:
    - ci-signing
    remove: []

Label core PRs:
  label:
    add:
    - core
    remove: []

Label docs PRs:
  label:
    add:
    - docs
    remove: []

Label github PRs:
  label:
    add:
    - github
    remove: []

Label github-actions PRs:
  label:
    add:
    - github-actions
    remove: []

Label kernel PRs:
  label:
    add:
    - kernel
    remove: []

Label mdocs PRs:
  label:
    add:
    - mdocs
    remove: []

Label mergify PRs:
  label:
    add:
    - mergify
    remove: []

Label mima PRs:
  label:
    add:
    - mima
    remove: []

Label no-publish PRs:
  label:
    add:
    - no-publish
    remove: []

Label scalafix PRs:
  label:
    add:
    - scalafix
    remove: []

Label settings PRs:
  label:
    add:
    - settings
    remove: []

Label site PRs:
  label:
    add:
    - site
    remove: []

Label sonatype PRs:
  label:
    add:
    - sonatype
    remove: []

Label sonatype-ci-release PRs:
  label:
    add:
    - sonatype-ci-release
    remove: []

Label unidoc PRs:
  label:
    add:
    - unidoc
    remove: []

Label versioning PRs:
  label:
    add:
    - versioning
    remove: []

deploy: 7a4eb9c22eee6ec2682575f664c9a632e8f0a6dc
  site.html
Due: none

Set default font for code to Fira Mono, which doesn't have ligatures, added those to resources
  site/src/main/resources/org/typelevel/sbt/site/fonts/FiraMono/FiraMono-Bold.ttf
  site/src/main/resources/org/typelevel/sbt/site/fonts/FiraMono/FiraMono-Medium.ttf
  site/src/main/resources/org/typelevel/sbt/site/fonts/FiraMono/FiraMono-Regular.ttf
  site/src/main/resources/org/typelevel/sbt/site/fonts/FiraMono/OFL.txt
  site/src/main/scala/org/typelevel/sbt/TypelevelSitePlugin.scala
Due: Label site PRs

Formatting ran
  site/src/main/scala/org/typelevel/sbt/TypelevelSitePlugin.scala
Due: Label site PRs

Changed from site to all, so the fonts are replaced for ebooks and pdfs too
  site/src/main/scala/org/typelevel/sbt/TypelevelSitePlugin.scala
Due: Label site PRs

fixed imports
  site/src/main/scala/org/typelevel/sbt/TypelevelSitePlugin.scala
Due: Label site PRs

deploy: f2673f9bd58a3ae3def0c0d37528eceb1db0b572
  customization.html
  faq.html
  gha.html
  helium/laika-helium.css
  index.html
  secrets.html
  site.html
Due: none

Fixing section title sizing for code blocks
  site/src/main/resources/org/typelevel/sbt/site/helium/site/styles.css
Due: Label site PRs

deploy: 09ec3c0833186e598a1a22fab8a009a5225591c6
  site.html
  site/styles.css
Due: Label site PRs

Saving state
  sonatype-ci-release/src/main/scala/org/typelevel/sbt/TypelevelSonatypeCiReleasePlugin.scala
Due: Label sonatype-ci-release PRs

Only log published version once
  sonatype-ci-release/src/main/scala/org/typelevel/sbt/TypelevelSonatypeCiReleasePlugin.scala
Due: Label sonatype-ci-release PRs

Condense test results
  ci/src/main/scala/org/typelevel/sbt/TypelevelCiPlugin.scala
Due: Label ci PRs

Regenerate workflow
  .github/workflows/ci.yml
Due: none

Revert "Use `-source:3.2-migration` on Scala 3.2 (when cross-compiling)"
  settings/src/main/scala/org/typelevel/sbt/TypelevelSettingsPlugin.scala
Due: Label settings PRs

Strip margin
  ci/src/main/scala/org/typelevel/sbt/TypelevelCiPlugin.scala
Due: Label ci PRs

Register command
  sonatype-ci-release/src/main/scala/org/typelevel/sbt/TypelevelSonatypeCiReleasePlugin.scala
Due: Label sonatype-ci-release PRs

Another strip margin
  sonatype-ci-release/src/main/scala/org/typelevel/sbt/TypelevelSonatypeCiReleasePlugin.scala
Due: Label sonatype-ci-release PRs

Summary is worthless ...
  ci/src/main/scala/org/typelevel/sbt/TypelevelCiPlugin.scala
Due: Label ci PRs

deploy: 27cd251db3209a2303f95738e993d165bd8ba2f2
  site.html
Due: none

Organize imports
  sonatype-ci-release/src/main/scala/org/typelevel/sbt/TypelevelSonatypeCiReleasePlugin.scala
Due: Label sonatype-ci-release PRs

deploy: 149c57dfa2592ee4f3e638c9d77322c52fbf6616
  site.html
Due: none

Fix project id in "run test with ..."
  ci/src/main/scala/org/typelevel/sbt/TypelevelCiPlugin.scala
Due: Label ci PRs

deploy: 5150a8d56240b98e6f56f8df6f5d12eacb84f74f
  api/index.html
  customization.html
  faq.html
  gha.html
  index.html
  secrets.html
  site.html
Due: none

Initialize all-contributors
  .all-contributorsrc
  README.md
Due: none

Try alphabetizing again
  README.md
Due: none

Update @bpholt as a contributor
  .all-contributorsrc
  README.md
Due: none

Try configuring alphabetical sorting
  .all-contributorsrc
Due: none

deploy: 48933f375a0c0a9d15a79e9fae78e5f55ef08db9
  site.html
Due: none

deploy: f2d691732871dff5d1a8345ad87be0f8cb420b4b
  site.html
Due: none

deploy: 352d401af55924b4f552803bb98cda241c715d30
  site.html
Due: none

deploy: f8f978d47dfc86cd189d092ad0b97e9c6d14fe50
  site.html
Due: none

deploy: d00653286253c20201c6b79744e2224c3b579be3
  site.html
Due: none

Clarify the distinction between types of Sonatype credentials.
  docs/secrets.md
Due: Label docs PRs

Clarify some tedious gotchas.
  docs/index.md
Due: Label docs PRs

Update index.md
  docs/index.md
Due: Label docs PRs

Updated sbt-header
  core/build.sbt
Due: Label core PRs

deploy: f050e436bf35668f4ac2ad8822abc14b440dda69
  faq.html
  site.html
Due: none

Add -Xsource:3 to 2.13 (and future minor 2 releases) builds
  settings/src/main/scala/org/typelevel/sbt/TypelevelSettingsPlugin.scala
Due: Label settings PRs

fmt
  settings/src/main/scala/org/typelevel/sbt/TypelevelSettingsPlugin.scala
Due: Label settings PRs

Allow Scala 2.12 to also use -Xsource:3
  settings/src/main/scala/org/typelevel/sbt/TypelevelSettingsPlugin.scala
Due: Label settings PRs

Replace Twitter icon with Mastodon icon
  site/src/main/scala/org/typelevel/sbt/TypelevelSitePlugin.scala
  site/src/main/scala/org/typelevel/sbt/site/TypelevelHeliumIcon.scala
Due: Label site PRs

Path conditions:
  Label ci PRs: any of: ^ci/
  Label ci-release PRs: any of: ^ci-release/
  Label ci-signing PRs: any of: ^ci-signing/
  Label core PRs: any of: ^core/
  Label docs PRs: any of: ^docs/
  Label github PRs: any of: ^github/
  Label github-actions PRs: any of: ^github-actions/
  Label kernel PRs: any of: ^kernel/
  Label mdocs PRs: any of: ^mdocs/
  Label mergify PRs: any of: ^mergify/
  Label mima PRs: any of: ^mima/
  Label no-publish PRs: any of: ^no-publish/
  Label scalafix PRs: any of: ^scalafix/
  Label settings PRs: any of: ^settings/
  Label site PRs: any of: ^site/
  Label sonatype PRs: any of: ^sonatype/
  Label sonatype-ci-release PRs: any of: ^sonatype-ci-release/
  Label unidoc PRs: any of: ^unidoc/
  Label versioning PRs: any of: ^versioning/
