Repository typelevel/sbt-typelevel: changes, and which Mergify rules are due for each by the changed paths.
All: Label ci PRs, Label ci-release PRs, Label ci-signing PRs, Label core PRs, Label docs PRs, Label github PRs, Label github-actions PRs, Label kernel PRs, Label mdocs PRs, Label mergify PRs, Label mima PRs, Label no-publish PRs, Label scalafix PRs, Label settings PRs, Label site PRs, Label sonatype PRs, Label sonatype-ci-release PRs, Label versioning PRs

Label ci PRs:
  label:
    add:
    - ci
    remove: []

Label ci-release PRs:
  label:
    add:
    - ci-release
    remove: []

Label ci-signing PRs:
  label:
    add:
    - ci-signing
    remove: []

Label core PRs:
  label:
    add:
    - core
    remove: []

Label docs PRs:
  label:
    add:
    - docs
    remove: []

Label github PRs:
  label:
    add:
    - github
    remove: []

Label github-actions PRs:
  label:
    add:
    - github-actions
    remove: []

Label kernel PRs:
  label:
    add:
    - kernel
    remove: []

Label mdocs PRs:
  label:
    add:
    - mdocs
    remove: []

Label mergify PRs:
  label:
    add:
    - mergify
    remove: []

Label mima PRs:
  label:
    add:
    - mima
    remove: []

Label no-publish PRs:
  label:
    add:
    - no-publish
    remove: []

Label scalafix PRs:
  label:
    add:
    - scalafix
    remove: []

Label settings PRs:
  label:
    add:
    - settings
    remove: []

Label site PRs:
  label:
    add:
    - site
    remove: []

Label sonatype PRs:
  label:
    add:
    - sonatype
    remove: []

Label sonatype-ci-release PRs:
  label:
    add:
    - sonatype-ci-release
    remove: []

Label versioning PRs:
  label:
    add:
    - versioning
    remove: []

prePR
  .github/workflows/ci.yml
  .mergify.yml
Due: none

Use java 11
  .github/workflows/ci.yml
  ci/src/main/scala/org/typelevel/sbt/TypelevelCiPlugin.scala
Due: Label ci PRs

deploy: 2a8780b3a1d4cb07b766ada31ee4ddb818fafe05
  site.html
Due: none

Update github-actions/src/main/scala/org/typelevel/sbt/gha/PermissionScope.scala
  github-actions/src/main/scala/org/typelevel/sbt/gha/PermissionScope.scala
Due: Label github-actions PRs

Sorted
  .github/workflows/ci.yml
  github-actions/src/main/scala/org/typelevel/sbt/gha/PermissionScope.scala
Due: Label github-actions PRs

Move rendering logic to classes
  github-actions/src/main/scala/org/typelevel/sbt/gha/GenerativePlugin.scala
  github-actions/src/main/scala/org/typelevel/sbt/gha/PermissionScope.scala
Due: Label github-actions PRs

make private
  github-actions/src/main/scala/org/typelevel/sbt/gha/PermissionScope.scala
Due: Label github-actions PRs

Revert "make private"
  github-actions/src/main/scala/org/typelevel/sbt/gha/PermissionScope.scala
Due: Label github-actions PRs

Revert "Move rendering logic to classes"
  github-actions/src/main/scala/org/typelevel/sbt/gha/GenerativePlugin.scala
  github-actions/src/main/scala/org/typelevel/sbt/gha/PermissionScope.scala
Due: Label github-actions PRs

deploy: e97402909bb9282a00ee4865306ea65e775710f1
  site.html
Due: none

Remove sbt update from Steward job
  .github/workflows/ci.yml
  ci/src/main/scala/org/typelevel/sbt/TypelevelCiPlugin.scala
Due: Label ci PRs

SetupJava now with includeSbt
  .github/workflows/ci.yml
  ci/src/main/scala/org/typelevel/sbt/TypelevelCiPlugin.scala
  github-actions/src/main/scala/org/typelevel/sbt/gha/WorkflowStep.scala
Due: Label ci PRs, Label github-actions PRs

Update github-actions/src/main/scala/org/typelevel/sbt/gha/WorkflowStep.scala
  github-actions/src/main/scala/org/typelevel/sbt/gha/WorkflowStep.scala
Due: Label github-actions PRs

Update WorkflowStep.scala
  github-actions/src/main/scala/org/typelevel/sbt/gha/WorkflowStep.scala
Due: Label github-actions PRs

deploy: c4968d291552e03a55121059a89183bdcdf16bd0
  api/index.html
  customization.html
  faq.html
  gha.html
  index.html
  secrets.html
  site.html
Due: none

deploy: 87c755faf1ef823c8a0c4f31a339746e52667d47
  site.html
Due: none

Sort rendered matrixes in GHA
  github-actions/src/main/scala/org/typelevel/sbt/gha/GenerativePlugin.scala
Due: Label github-actions PRs

deploy: 933c2fd5cad0287cba88981de1712fc07abb2469
  site.html
Due: none

Only add scala-compat dep for supported Scalas
  settings/src/main/scala/org/typelevel/sbt/TypelevelSettingsPlugin.scala
Due: Label settings PRs

deploy: a49f2aad27d5ab68e3eaa92a2a0e348f6f493213
  site.html
Due: none

Allow preamble to be skipped in `Sbt` step
  .github/workflows/ci.yml
  ci/src/main/scala/org/typelevel/sbt/CrossRootProject.scala
  github-actions/src/main/scala/org/typelevel/sbt/gha/GenerativePlugin.scala
  github-actions/src/main/scala/org/typelevel/sbt/gha/WorkflowStep.scala
Due: Label ci PRs, Label github-actions PRs

deploy: 6bc62e08f6c7d9f7ad83e5d1a7d2a683b0e4beed
  site.html
Due: none

Disable the `byname-implicit` lint on 2.13
  settings/src/main/scala/org/typelevel/sbt/TypelevelSettingsPlugin.scala
Due: Label settings PRs

deploy: 6c1ca23728299706a132953ceb3c8a776dee7cd3
  api/index.html
  customization.html
  faq.html
  gha.html
  index.html
  secrets.html
  site.html
Due: none

deploy: 4c0aaaac4b44b7e2226e21129b1d3596a78dd286
  api/index.html
  customization.html
  faq.html
  gha.html
  index.html
  secrets.html
  site.html
Due: none

deploy: c134966bdc291cb30a61b38c261eb3885e4e29d7
  api/index.html
  customization.html
  faq.html
  gha.html
  index.html
  secrets.html
  site.html
Due: none

deploy: 0a19eef02d19b0cdc3ac426a5caa386d399f9b2e
  site.html
Due: none

deploy: 9927db59d0d296493acfae17eb3ea7843b55c089
  site.html
Due: none

deploy: 2b808a46e749522cedc80dbcc6346674c3fe6da2
  site.html
Due: none

deploy: 628dc1f1e4b7f1ac33905082c81f978c638b3315
  site.html
Due: none

deploy: 624df8915b791799e5f93adf240b4abb1bc39695
  site.html
Due: none

Update to checkout v4
  .github/workflows/ci.yml
  github-actions/src/main/scala/org/typelevel/sbt/gha/WorkflowStep.scala
Due: Label github-actions PRs

deploy: 3efeed441ec4a0da73b17f1ce6fc4c38d5e52302
  faq.html
  site.html
Due: none

deploy: 1e411f653e8f9db3407f6263e6a3ebe05e1e8e3b
  site.html
Due: none

Revert "Update laika-sbt to 0.19.4"
  site/build.sbt
Due: Label site PRs

deploy: 5107e2d6dabd0a68a63d76f40a7637f6887e512e
  customization.html
  faq.html
  gha.html
  helium/laika-helium.css
  index.html
  secrets.html
  site.html
Due: none

deploy: 16bbe6c86a4e492dc789bc6bcca0f954486a54fa
  site.html
Due: none

Add `-Wconf:cat=scala3-migration:s` on 2.13
  settings/src/main/scala/org/typelevel/sbt/TypelevelSettingsPlugin.scala
Due: Label settings PRs

deploy: 9f26c3d3f75305703c194308cf2ca80600ef5477
  api/index.html
  customization.html
  faq.html
  gha.html
  index.html
  secrets.html
  site.html
Due: none

Path conditions:
  Label ci PRs: any of: ^ci/
  Label ci-release PRs: any of: ^ci-release/
  Label ci-signing PRs: any of: ^ci-signing/
  Label core PRs: any of: ^core/
  Label docs PRs: any of: ^docs/
  Label github PRs: any of: ^github/
  Label github-actions PRs: any of: ^github-actions/
  Label kernel PRs: any of: ^kernel/
  Label mdocs PRs: any of: ^mdocs/
  Label mergify PRs: any of: ^mergify/
  Label mima PRs: any of: ^mima/
  Label no-publish PRs: any of: ^no-publish/
  Label scalafix PRs: any of: ^scalafix/
  Label settings PRs: any of: ^settings/
  Label site PRs: any of: ^site/
  Label sonatype PRs: any of: ^sonatype/
  Label sonatype-ci-release PRs: any of: ^sonatype-ci-release/
  Label versioning PRs: any of: ^versioning/
