Repository typelevel/sbt-typelevel: changes, and which Mergify rules are due for each by the changed paths.
All: Label ci PRs, Label ci-release PRs, Label ci-signing PRs, Label core PRs, Label docs PRs, Label github PRs, Label github-actions PRs, Label kernel PRs, Label mdocs PRs, Label mergify PRs, Label mima PRs, Label no-publish PRs, Label scalafix PRs, Label settings PRs, Label site PRs, Label sonatype PRs, Label sonatype-ci-release PRs, Label unidoc PRs, Label versioning PRs

Label ci PRs:
  label:
    add:
    - ci
    remove: []

Label ci-release PRs:
  label:
    add:
    - ci-release
    remove: []

Label ci-signing PRs:
  label:
    add:
    - ci-signing
    remove: []

Label core PRs:
  label:
    add:
    - core
    remove: []

Label docs PRs:
  label:
    add:
    - docs
    remove: []

Label github PRs:
  label:
    add:
    - github
    remove: []

Label github-actions PRs:
  label:
    add:
    - github-actions
    remove: []

Label kernel PRs:
  label:
    add:
    - kernel
    remove: []

Label mdocs PRs:
  label:
    add:
    - mdocs
    remove: []

Label mergify PRs:
  label:
    add:
    - mergify
    remove: []

Label mima PRs:
  label:
    add:
    - mima
    remove: []

Label no-publish PRs:
  label:
    add:
    - no-publish
    remove: []

Label scalafix PRs:
  label:
    add:
    - scalafix
    remove: []

Label settings PRs:
  label:
    add:
    - settings
    remove: []

Label site PRs:
  label:
    add:
    - site
    remove: []

Label sonatype PRs:
  label:
    add:
    - sonatype
    remove: []

Label sonatype-ci-release PRs:
  label:
    add:
    - sonatype-ci-release
    remove: []

Label unidoc PRs:
  label:
    add:
    - unidoc
    remove: []

Label versioning PRs:
  label:
    add:
    - versioning
    remove: []

Mk dep submission ignore non-compile, no-publish
  .github/workflows/ci.yml
  ci/src/main/scala/org/typelevel/sbt/TypelevelCiPlugin.scala
  github-actions/src/main/scala/org/typelevel/sbt/gha/WorkflowStep.scala
  no-publish/src/main/scala/org/typelevel/sbt/NoPublishPlugin.scala
Due: Label ci PRs, Label github-actions PRs, Label no-publish PRs

Don't use `-source:3.0-migration`
  settings/src/main/scala/org/typelevel/sbt/TypelevelSettingsPlugin.scala
Due: Label settings PRs

Respect config scope for fatals
  settings/src/main/scala/org/typelevel/sbt/TypelevelSettingsPlugin.scala
Due: Label settings PRs

Use `-Werror` for fatal warnings
  settings/src/main/scala/org/typelevel/sbt/TypelevelSettingsPlugin.scala
Due: Label settings PRs

Populate `releaseNotesURL` setting
  github/src/main/scala/org/typelevel/sbt/TypelevelGitHubPlugin.scala
Due: Label github PRs

Fix indentation
  .github/workflows/ci.yml
  .mergify.yml
  build.sbt
  github-actions/src/main/scala/org/typelevel/sbt/gha/GenerativePlugin.scala
Due: Label github-actions PRs

Don't upload artifacts for no-publish projects
  .github/workflows/ci.yml
  github-actions/src/main/scala/org/typelevel/sbt/gha/GenerativePlugin.scala
Due: Label github-actions PRs

Update peaceiris/actions-gh-pages to v3.9.3
  .github/workflows/ci.yml
  site/src/main/scala/org/typelevel/sbt/TypelevelSitePlugin.scala
Due: Label site PRs

Run ci check steps only for primary value of axes
  ci/src/main/scala/org/typelevel/sbt/TypelevelCiPlugin.scala
Due: Label ci PRs

Run scalafix before test
  .github/workflows/ci.yml
  ci/src/main/scala/org/typelevel/sbt/TypelevelCiPlugin.scala
Due: Label ci PRs

Use vanilla setup-java, update setup-graalvm
  .github/workflows/ci.yml
  .mergify.yml
  build.sbt
  github-actions/src/main/scala/org/typelevel/sbt/gha/JavaSpec.scala
  github-actions/src/main/scala/org/typelevel/sbt/gha/WorkflowStep.scala
Due: Label github-actions PRs

Make `s01.oss.sonatype.org` the default host
  sonatype/src/main/scala/org/typelevel/sbt/TypelevelSonatypePlugin.scala
Due: Label sonatype PRs

Update sonatype host docs
  docs/customization.md
  docs/faq.md
  docs/index.md
Due: Label docs PRs

Update setting description
  sonatype/src/main/scala/org/typelevel/sbt/TypelevelSonatypePlugin.scala
Due: Label sonatype PRs

Distinguish between org, affiliate projects
  build.sbt
  site/src/main/scala/org/typelevel/sbt/TypelevelSitePlugin.scala
  site/src/main/scala/org/typelevel/sbt/site/TypelevelProjects.scala
Due: Label site PRs

Add macos and windows to ci
  .github/workflows/ci.yml
  .mergify.yml
  build.sbt
Due: none

Make path rendering os-independent
  site/src/main/scala/org/typelevel/sbt/TypelevelSitePlugin.scala
Due: Label site PRs

Better `prePR` command
  core/src/main/scala/org/typelevel/sbt/TypelevelPlugin.scala
  docs/customization.md
  docs/faq.md
Due: Label core PRs, Label docs PRs

`-release` -> `-java-output-version` in Scala 3.2
  settings/src/main/scala/org/typelevel/sbt/TypelevelSettingsPlugin.scala
Due: Label settings PRs

Add `TypelevelScalaNativeGitHubPlugin`
  github/build.sbt
  github/src/main/scala/org/typelevel/sbt/TypelevelScalaNativeGitHubPlugin.scala
Due: Label github PRs

Organize imports
  github/src/main/scala/org/typelevel/sbt/TypelevelScalaNativeGitHubPlugin.scala
Due: Label github PRs

formatting
  github/src/main/scala/org/typelevel/sbt/TypelevelScalaNativeGitHubPlugin.scala
Due: Label github PRs

Update versions, steward pins
  .scala-steward.conf
  build.sbt
  docs/faq.md
  docs/index.md
  github/build.sbt
Due: Label docs PRs, Label github PRs

Formatting
  build.sbt
Due: none

Address `tlSiteRelatedProjects` deprecation
  build.sbt
Due: none

introduce BspControlPlugin
  core/src/main/scala/org/typelevel/sbt/BspControlPlugin.scala
Due: Label core PRs

update plugin doc * resolve merge conflict * fix outdated links * update plugins with their settings, tasks and commands
  ci/src/main/scala/org/typelevel/sbt/TypelevelCiPlugin.scala
  docs/customization.md
  docs/site.md
Due: Label ci PRs, Label docs PRs

Update `tlJdkRelease` doc
  docs/customization.md
  settings/src/main/scala/org/typelevel/sbt/TypelevelSettingsPlugin.scala
Due: Label docs PRs, Label settings PRs

`BspControlPlugin` -> `TypelevelBspPlugin`
  core/src/main/scala/org/typelevel/sbt/TypelevelBspPlugin.scala
Due: Label core PRs

Add new contributors
  .all-contributorsrc
  README.md
Due: none

`tlPrePRBotHook` should respect ci config
  core/src/main/scala/org/typelevel/sbt/TypelevelPlugin.scala
Due: Label core PRs

Move `noPublishProjectRefs` to always-triggered plugin
  ci/src/main/scala/org/typelevel/sbt/TypelevelCiPlugin.scala
  no-publish/src/main/scala/org/typelevel/sbt/NoPublishPlugin.scala
Due: Label ci PRs, Label no-publish PRs

Add more JVMs to CI
  .github/workflows/ci.yml
  .mergify.yml
  build.sbt
Due: none

More graal versions
  .github/workflows/ci.yml
  .mergify.yml
  build.sbt
Due: none

fix GHA: * make sure ids don't contain DOTs * openj9 is adopt-openj9 https://github.com/actions/setup-java#supported-distributions
  github-actions/src/main/scala/org/typelevel/sbt/gha/JavaSpec.scala
  github-actions/src/main/scala/org/typelevel/sbt/gha/WorkflowStep.scala
Due: Label github-actions PRs

Clear sbt step preamble in dep-submit job
  .github/workflows/ci.yml
  ci/src/main/scala/org/typelevel/sbt/TypelevelCiPlugin.scala
Due: Label ci PRs

Add old GraalVM and OpenJ9 to CI
  .github/workflows/ci.yml
  .mergify.yml
  build.sbt
Due: none

docs for site plugin: adjust for recent changes to tlIsTypelevelProject
  docs/site.md
Due: Label docs PRs

Added the wiki syntax flag for non-pure Scala 3 projects
  settings/src/main/scala/org/typelevel/sbt/TypelevelSettingsPlugin.scala
Due: Label settings PRs

support new Java Distributions: * *deprecate* `Distribution.OpenJ9` * *add* `Distribution.Semuru` * *add* `Distribution. Microsoft`
  .github/workflows/ci.yml
  .mergify.yml
  build.sbt
  github-actions/src/main/scala/org/typelevel/sbt/gha/JavaSpec.scala
Due: Label github-actions PRs

Path conditions:
  Label ci PRs: any of: ^ci/
  Label ci-release PRs: any of: ^ci-release/
  Label ci-signing PRs: any of: ^ci-signing/
  Label core PRs: any of: ^core/
  Label docs PRs: any of: ^docs/
  Label github PRs: any of: ^github/
  Label github-actions PRs: any of: ^github-actions/
  Label kernel PRs: any of: ^kernel/
  Label mdocs PRs: any of: ^mdocs/
  Label mergify PRs: any of: ^mergify/
  Label mima PRs: any of: ^mima/
  Label no-publish PRs: any of: ^no-publish/
  Label scalafix PRs: any of: ^scalafix/
  Label settings PRs: any of: ^settings/
  Label site PRs: any of: ^site/
  Label sonatype PRs: any of: ^sonatype/
  Label sonatype-ci-release PRs: any of: ^sonatype-ci-release/
  Label unidoc PRs: any of: ^unidoc/
  Label versioning PRs: any of: ^versioning/
