Repository typelevel/sbt-typelevel: changes, and which Mergify rules are due for each by the changed paths.
All: Label ci PRs, Label ci-release PRs, Label ci-signing PRs, Label core PRs, Label docs PRs, Label github PRs, Label github-actions PRs, Label kernel PRs, Label mdocs PRs, Label mergify PRs, Label mima PRs, Label no-publish PRs, Label scalafix PRs, Label settings PRs, Label site PRs, Label sonatype PRs, Label sonatype-ci-release PRs, Label unidoc PRs, Label versioning PRs

.mergify.yml:

# This file was automatically generated by sbt-typelevel-mergify using the
# mergifyGenerate task. You should add and commit this file to
# your git repository. It goes without saying that you shouldn't edit
# this file by hand! Instead, if you wish to make changes, you should
# change your sbt build configuration to revise the mergify configuration
# to meet your needs, then regenerate this file.

pull_request_rules:
- name: merge scala-steward's PRs
  conditions:
  - author=typelevel-steward[bot]
  - or:
    - body~=labels:.*early-semver-patch
    - body~=labels:.*early-semver-minor
  - status-success=Build and Test (ubuntu-latest, 2.12.16, temurin@8, sbt-typelevelJVM)
  - status-success=Build and Test (ubuntu-latest, 2.12.16, temurin@17, sbt-typelevelJVM)
  - '#approved-reviews-by>=1'
  actions:
    merge: {}
- name: Label ci PRs
  conditions:
  - files~=^ci/
  actions:
    label:
      add:
      - ci
      remove: []
- name: Label ci-release PRs
  conditions:
  - files~=^ci-release/
  actions:
    label:
      add:
      - ci-release
      remove: []
- name: Label ci-signing PRs
  conditions:
  - files~=^ci-signing/
  actions:
    label:
      add:
      - ci-signing
      remove: []
- name: Label core PRs
  conditions:
  - files~=^core/
  actions:
    label:
      add:
      - core
      remove: []
- name: Label docs PRs
  conditions:
  - files~=^docs/
  actions:
    label:
      add:
      - docs
      remove: []
- name: Label github PRs
  conditions:
  - files~=^github/
  actions:
    label:
      add:
      - github
      remove: []
- name: Label github-actions PRs
  conditions:
  - files~=^github-actions/
  actions:
    label:
      add:
      - github-actions
      remove: []
- name: Label kernel PRs
  conditions:
  - files~=^kernel/
  actions:
    label:
      add:
      - kernel
      remove: []
- name: Label mdocs PRs
  conditions:
  - files~=^mdocs/
  actions:
    label:
      add:
      - mdocs
      remove: []
- name: Label mergify PRs
  conditions:
  - files~=^mergify/
  actions:
    label:
      add:
      - mergify
      remove: []
- name: Label mima PRs
  conditions:
  - files~=^mima/
  actions:
    label:
      add:
      - mima
      remove: []
- name: Label no-publish PRs
  conditions:
  - files~=^no-publish/
  actions:
    label:
      add:
      - no-publish
      remove: []
- name: Label scalafix PRs
  conditions:
  - files~=^scalafix/
  actions:
    label:
      add:
      - scalafix
      remove: []
- name: Label settings PRs
  conditions:
  - files~=^settings/
  actions:
    label:
      add:
      - settings
      remove: []
- name: Label site PRs
  conditions:
  - files~=^site/
  actions:
    label:
      add:
      - site
      remove: []
- name: Label sonatype PRs
  conditions:
  - files~=^sonatype/
  actions:
    label:
      add:
      - sonatype
      remove: []
- name: Label sonatype-ci-release PRs
  conditions:
  - files~=^sonatype-ci-release/
  actions:
    label:
      add:
      - sonatype-ci-release
      remove: []
- name: Label unidoc PRs
  conditions:
  - files~=^unidoc/
  actions:
    label:
      add:
      - unidoc
      remove: []
- name: Label versioning PRs
  conditions:
  - files~=^versioning/
  actions:
    label:
      add:
      - versioning
      remove: []
- name: assign scala-steward's PRs for review
  conditions:
  - author=typelevel-steward[bot]
  actions:
    request_reviews:
      users:
      - armanbilge

deploy: 2ea18da8f16c2b459d2f553655e515c0aeb01ffa
  site.html
Due: none

deploy: 28d92b39a2937871ab01abb5ea27a214802fb6e0
  site.html
Due: none

Only run fmt/header/mima etc. checks on primary os
  .github/workflows/ci.yml
  ci/src/main/scala/org/typelevel/sbt/TypelevelCiPlugin.scala
  core/src/main/scala/org/typelevel/sbt/TypelevelPlugin.scala
Due: Label ci PRs, Label core PRs

deploy: 9c6b9b19080d02a25c94e03ae6535a4c30e8b709
  site.html
Due: none

Set `startYear` to 2022
  build.sbt
Due: none

deploy: 4da726ca021ea2c6459e8286d9ec49ab7c79a883
  index.html
  site.html
Due: none

Remove unused import
  core/src/main/scala/org/typelevel/sbt/TypelevelPlugin.scala
Due: Label core PRs

Add helpful error for misplaced managed sources
  settings/src/main/scala/org/typelevel/sbt/TypelevelSettingsPlugin.scala
Due: Label settings PRs

deploy: 5d41b757e1e8099fba133060d7059f6161ef15d6
  api/index.html
  customization.html
  faq.html
  gha.html
  index.html
  secrets.html
  site.html
Due: none

Adding tlCreateJobSummary command
  sonatype-ci-release/src/main/scala/org/typelevel/sbt/TypelevelSonatypeCiReleasePlugin.scala
Due: Label sonatype-ci-release PRs

Applying arman suggestions and regenerating workflows
  .github/workflows/ci.yml
  sonatype-ci-release/src/main/scala/org/typelevel/sbt/TypelevelSonatypeCiReleasePlugin.scala
Due: Label sonatype-ci-release PRs

Forgive me scalafix
  sonatype-ci-release/src/main/scala/org/typelevel/sbt/TypelevelSonatypeCiReleasePlugin.scala
Due: Label sonatype-ci-release PRs

Testing the new command in the build step
  .github/workflows/ci.yml
  build.sbt
  sonatype-ci-release/src/main/scala/org/typelevel/sbt/TypelevelSonatypeCiReleasePlugin.scala
Due: Label sonatype-ci-release PRs

Adding a renderTable command
  sonatype-ci-release/src/main/scala/org/typelevel/sbt/TypelevelSonatypeCiReleasePlugin.scala
Due: Label sonatype-ci-release PRs

Adding header
  sonatype-ci-release/src/main/scala/org/typelevel/sbt/TypelevelSonatypeCiReleasePlugin.scala
Due: Label sonatype-ci-release PRs

Adding extensible APIs
  build.sbt
  sonatype-ci-release/src/main/scala/org/typelevel/sbt/TypelevelSonatypeCiReleasePlugin.scala
Due: Label sonatype-ci-release PRs

deploy: 788d4444432f311ce8f79b716670c1cfeea4e79d
  site.html
Due: none

Fix Typo
  github-actions/src/main/scala/org/typelevel/sbt/gha/GenerativeKeys.scala
Due: Label github-actions PRs

deploy: 7307b8e3f27049f7d40370b0c04c478c93f1c57a
  site.html
Due: none

deploy: beeaf036111259afc2954056374ba227d1e765af
  site.html
Due: none

Add Laika API link configuration
  docs/customization.md
  site/src/main/scala/org/typelevel/sbt/TypelevelSitePlugin.scala
Due: Label docs PRs, Label site PRs

Testing test rendering
  .github/workflows/ci.yml
  build.sbt
  ci/src/main/scala/org/typelevel/sbt/TypelevelCiPlugin.scala
  github-actions/src/main/scala/org/typelevel/sbt/gha/GitHubActionsPlugin.scala
  project/build.sbt
  sonatype-ci-release/src/main/scala/org/typelevel/sbt/TypelevelSonatypeCiReleasePlugin.scala
  sonatype-ci-release/src/test/scala/org/typelevel/sbt/TestSpec.scala
Due: Label ci PRs, Label github-actions PRs, Label sonatype-ci-release PRs

Fixing github workflow file
  .github/workflows/ci.yml
Due: none

Headers and cleaning
  .github/workflows/ci.yml
  build.sbt
  ci/src/main/scala/org/typelevel/sbt/TypelevelCiPlugin.scala
  sonatype-ci-release/src/main/scala/org/typelevel/sbt/TypelevelSonatypeCiReleasePlugin.scala
  sonatype-ci-release/src/test/scala/org/typelevel/sbt/TestSpec.scala
Due: Label ci PRs, Label sonatype-ci-release PRs

prePR
  build.sbt
  project/build.sbt
  sonatype-ci-release/src/main/scala/org/typelevel/sbt/TypelevelSonatypeCiReleasePlugin.scala
  sonatype-ci-release/src/test/scala/org/typelevel/sbt/TestSpec.scala
Due: Label sonatype-ci-release PRs

Adding Resolver and API url to table plus test instructions
  build.sbt
  ci/src/main/scala/org/typelevel/sbt/TypelevelCiPlugin.scala
  sonatype-ci-release/src/main/scala/org/typelevel/sbt/TypelevelSonatypeCiReleasePlugin.scala
Due: Label ci PRs, Label sonatype-ci-release PRs

Fixing version with scalaVersion
  ci/src/main/scala/org/typelevel/sbt/TypelevelCiPlugin.scala
Due: Label ci PRs

Better formatting
  ci/src/main/scala/org/typelevel/sbt/TypelevelCiPlugin.scala
  sonatype-ci-release/src/main/scala/org/typelevel/sbt/TypelevelSonatypeCiReleasePlugin.scala
Due: Label ci PRs, Label sonatype-ci-release PRs

Minor formatting fix
  ci/src/main/scala/org/typelevel/sbt/TypelevelCiPlugin.scala
Due: Label ci PRs

Apply PR suggestions
  build.sbt
  github-actions/src/main/scala/org/typelevel/sbt/gha/GitHubActionsPlugin.scala
  project/build.sbt
  sonatype-ci-release/src/main/scala/org/typelevel/sbt/TypelevelSonatypeCiReleasePlugin.scala
Due: Label github-actions PRs, Label sonatype-ci-release PRs

Removed schemes
  project/build.sbt
Due: none

deploy: abc217d7173ec51f44ed510e7d8cc5819543e7f2
  faq.html
  site.html
Due: none

Making mergifyLabelPaths overridable
  mergify/src/main/scala/org/typelevel/sbt/mergify/MergifyPlugin.scala
Due: Label mergify PRs

Fixing scoping
  mergify/src/main/scala/org/typelevel/sbt/mergify/MergifyPlugin.scala
Due: Label mergify PRs

Testing unidoc removal
  .mergify.yml
  build.sbt
Due: none

Use `-source:3.2-migration` on Scala 3.2
  settings/src/main/scala/org/typelevel/sbt/TypelevelSettingsPlugin.scala
Due: Label settings PRs

deploy: 3557dd689b44d19b5e7d782c615526f69abc9c77
  site.html
Due: none

deploy: f97da87d2e5c5f831122f8fac22ba52a89356e0f
  site.html
Due: none

deploy: c8d8968cb819dc0bf94a49ef98751a5e8b5a03ab
  site.html
Due: none
