Repository typelevel/sbt-typelevel: changes, and which Mergify rules are due for each by the changed paths.
All: Label ci PRs, Label ci-release PRs, Label ci-signing PRs, Label core PRs, Label docs PRs, Label github PRs, Label github-actions PRs, Label kernel PRs, Label mdocs PRs, Label mergify PRs, Label mima PRs, Label no-publish PRs, Label scalafix PRs, Label settings PRs, Label site PRs, Label sonatype PRs, Label sonatype-ci-release PRs, Label versioning PRs

Path conditions:
  Label ci PRs: any of: ^ci/
  Label ci-release PRs: any of: ^ci-release/
  Label ci-signing PRs: any of: ^ci-signing/
  Label core PRs: any of: ^core/
  Label docs PRs: any of: ^docs/
  Label github PRs: any of: ^github/
  Label github-actions PRs: any of: ^github-actions/
  Label kernel PRs: any of: ^kernel/
  Label mdocs PRs: any of: ^mdocs/
  Label mergify PRs: any of: ^mergify/
  Label mima PRs: any of: ^mima/
  Label no-publish PRs: any of: ^no-publish/
  Label scalafix PRs: any of: ^scalafix/
  Label settings PRs: any of: ^settings/
  Label site PRs: any of: ^site/
  Label sonatype PRs: any of: ^sonatype/
  Label sonatype-ci-release PRs: any of: ^sonatype-ci-release/
  Label versioning PRs: any of: ^versioning/

deploy: 53ad8a408e1a03c13fd6064661a395821da7ede7
  helium/site/laika-helium.css
  site.html
Due: none

deploy: 51cc2b8403cdad9abab35035a098e8057775d25d
  site.html
Due: none

deploy: 72b58549459bfc23deda270367f1bc172ade02c3
  site.html
Due: none

colors object is private now + adjust deprecations messages
  site/src/main/scala/org/typelevel/sbt/site/TypelevelSiteSettings.scala
Due: Label site PRs

deploy: d66d4be090606d0441a5d331a96ce62d4fc216fc
  site.html
Due: none

Begin de-case-classifying
  github-actions/src/main/scala/org/typelevel/sbt/gha/Concurrency.scala
  github-actions/src/main/scala/org/typelevel/sbt/gha/JobContainer.scala
  github-actions/src/main/scala/org/typelevel/sbt/gha/JobEnvironment.scala
Due: Label github-actions PRs

De-case-classify `PermissionScope`
  github-actions/src/main/scala/org/typelevel/sbt/gha/PermissionScope.scala
Due: Label github-actions PRs

De-case-classify `WorkflowJob`
  github-actions/src/main/scala/org/typelevel/sbt/gha/WorkflowJob.scala
Due: Label github-actions PRs

Formatting
  github-actions/src/main/scala/org/typelevel/sbt/gha/WorkflowJob.scala
Due: Label github-actions PRs

Remove `TypelevelScalaNativeGitHubPlugin`
  github/build.sbt
  github/src/main/scala/org/typelevel/sbt/TypelevelScalaNativeGitHubPlugin.scala
Due: Label github PRs

Remove steward pin
  .scala-steward.conf
Due: none

deploy: 5120947f16c4694709465a0fb2164fff0362bb3f
  site.html
Due: none

Cleanup docs from the removal of `TypelevelScalaNativeGitHubPlugin`
  docs/customization.md
  docs/plugins.dot
  docs/plugins.svg
Due: Label docs PRs

deploy: baf67b00578f9f6ccca32a967865d81bb67a9050
  customization.html
  plugins.dot
  plugins.svg
  site.html
Due: none

De-case-classify `WorkflowStep`
  ci/src/main/scala/org/typelevel/sbt/CrossRootProject.scala
  github-actions/src/main/scala/org/typelevel/sbt/gha/WorkflowStep.scala
Due: Label ci PRs, Label github-actions PRs

Add missing `productPrefix`
  github-actions/src/main/scala/org/typelevel/sbt/gha/WorkflowStep.scala
Due: Label github-actions PRs

Fix `productPrefix`
  github-actions/src/main/scala/org/typelevel/sbt/gha/WorkflowJob.scala
Due: Label github-actions PRs

De-case-classify `MergifyStewardConfig`
  build.sbt
  mergify/src/main/scala/org/typelevel/sbt/mergify/MergifyStewardConfig.scala
Due: Label mergify PRs

Use `abstract class`es instead of `trait`s for ADTs
  github-actions/src/main/scala/org/typelevel/sbt/gha/PREventType.scala
  github-actions/src/main/scala/org/typelevel/sbt/gha/Paths.scala
  github-actions/src/main/scala/org/typelevel/sbt/gha/Ref.scala
  github-actions/src/main/scala/org/typelevel/sbt/gha/RefPredicate.scala
  github-actions/src/main/scala/org/typelevel/sbt/gha/UseRef.scala
  github-actions/src/main/scala/org/typelevel/sbt/gha/WorkflowStep.scala
  mergify/src/main/scala/org/typelevel/sbt/mergify/MergifyAction.scala
Due: Label github-actions PRs, Label mergify PRs

Make `startYear` setting deterministic
  build.sbt
  core/build.sbt
  core/src/main/scala/org/typelevel/sbt/TypelevelPlugin.scala
  project/plugins.sbt
  project/project/plugins.sbt
Due: Label core PRs

Do not set a default `startYear`
  core/src/main/scala/org/typelevel/sbt/TypelevelPlugin.scala
Due: Label core PRs

deploy: 4f2e128d5e11dd4164618bbc4df4a31b3a96d21d
  site.html
Due: none

deploy: 39b474c1352617ac07b890ea097162bd0ff6688d
  site.html
Due: none

Support `working-directory` in `WorkflowStep.Run`
  .github/workflows/ci.yml
  build.sbt
  github-actions/src/main/scala/org/typelevel/sbt/gha/GenerativePlugin.scala
  github-actions/src/main/scala/org/typelevel/sbt/gha/WorkflowStep.scala
Due: Label github-actions PRs

deploy: 9371b958593a516ce960a6b9a37a05aa09c82191
  site.html
Due: none

Bump peaceiris/actions-gh-pages to 4.0.0
  site/src/main/scala/org/typelevel/sbt/TypelevelSitePlugin.scala
Due: Label site PRs

macos-latest is now macos-14
  .github/workflows/ci.yml
  .mergify.yml
  build.sbt
Due: none

deploy: 8297740893670932657471959512ada5431fa8c4
  api/index.html
  customization.html
  faq.html
  gha.html
  index.html
  secrets.html
  site.html
Due: none

deploy: 618e0563eb59abf677abf4c73d5f578f50cc2a03
  site.html
Due: none

Regenerate workflow
  .github/workflows/ci.yml
Due: none

deploy: b3bbce2f9bd173901c6a41e6d7a6738157187186
  site.html
Due: none

deploy: 8c204839721b80875bd85793b4e18c42645edff1
  api/index.html
  customization.html
  faq.html
  gha.html
  index.html
  secrets.html
  site.html
Due: none

Always generate macOS `brew install sbt` step
  github-actions/src/main/scala/org/typelevel/sbt/gha/GenerativePlugin.scala
Due: Label github-actions PRs

deploy: 86874af1c69e80525bef1bfe4678ff29ddce5fe0
  site.html
Due: none

deploy: d01bac4cba6b2933dd50e168dba55b27272f7154
  site.html
Due: none

Support checking Java formatting
  ci/src/main/scala/org/typelevel/sbt/TypelevelCiPlugin.scala
  docs/customization.md
Due: Label ci PRs, Label docs PRs

Add `javafmtAll` to `prePR`
  core/src/main/scala/org/typelevel/sbt/TypelevelPlugin.scala
Due: Label core PRs

deploy: bdc0e9aef4ce6be6633d8d8e8d2f7102966c1ab6
  customization.html
  site.html
Due: none

deploy: 4883bb5c66787ef9865181eac1101bac0b4bd919
  site.html
Due: none

deploy: e0d6ac8ceed538c4a19d8989b10458425442a6f8
  site.html
Due: none
