Repository typelevel/sbt-typelevel: changes, and which Mergify rules are due for each by the changed paths.
All: Label ci PRs, Label ci-release PRs, Label ci-signing PRs, Label core PRs, Label docs PRs, Label github PRs, Label github-actions PRs, Label kernel PRs, Label mdocs PRs, Label mergify PRs, Label mima PRs, Label no-publish PRs, Label scalafix PRs, Label settings PRs, Label site PRs, Label sonatype PRs, Label sonatype-ci-release PRs, Label unidoc PRs, Label versioning PRs

.mergify.yml:

# This file was automatically generated by sbt-typelevel-mergify using the
# mergifyGenerate task. You should add and commit this file to
# your git repository. It goes without saying that you shouldn't edit
# this file by hand! Instead, if you wish to make changes, you should
# change your sbt build configuration to revise the mergify configuration
# to meet your needs, then regenerate this file.

pull_request_rules:
- name: merge scala-steward's PRs
  conditions:
  - author=typelevel-steward[bot]
  - or:
    - body~=labels:.*early-semver-patch
    - body~=labels:.*early-semver-minor
  - status-success=Build and Test (ubuntu-latest, 2.12.16, temurin@8, sbt-typelevelJVM)
  - status-success=Build and Test (ubuntu-latest, 2.12.16, temurin@17, sbt-typelevelJVM)
  - '#approved-reviews-by>=1'
  actions:
    merge: {}
- name: Label ci PRs
  conditions:
  - files~=^ci/
  actions:
    label:
      add:
      - ci
      remove: []
- name: Label ci-release PRs
  conditions:
  - files~=^ci-release/
  actions:
    label:
      add:
      - ci-release
      remove: []
- name: Label ci-signing PRs
  conditions:
  - files~=^ci-signing/
  actions:
    label:
      add:
      - ci-signing
      remove: []
- name: Label core PRs
  conditions:
  - files~=^core/
  actions:
    label:
      add:
      - core
      remove: []
- name: Label docs PRs
  conditions:
  - files~=^docs/
  actions:
    label:
      add:
      - docs
      remove: []
- name: Label github PRs
  conditions:
  - files~=^github/
  actions:
    label:
      add:
      - github
      remove: []
- name: Label github-actions PRs
  conditions:
  - files~=^github-actions/
  actions:
    label:
      add:
      - github-actions
      remove: []
- name: Label kernel PRs
  conditions:
  - files~=^kernel/
  actions:
    label:
      add:
      - kernel
      remove: []
- name: Label mdocs PRs
  conditions:
  - files~=^mdocs/
  actions:
    label:
      add:
      - mdocs
      remove: []
- name: Label mergify PRs
  conditions:
  - files~=^mergify/
  actions:
    label:
      add:
      - mergify
      remove: []
- name: Label mima PRs
  conditions:
  - files~=^mima/
  actions:
    label:
      add:
      - mima
      remove: []
- name: Label no-publish PRs
  conditions:
  - files~=^no-publish/
  actions:
    label:
      add:
      - no-publish
      remove: []
- name: Label scalafix PRs
  conditions:
  - files~=^scalafix/
  actions:
    label:
      add:
      - scalafix
      remove: []
- name: Label settings PRs
  conditions:
  - files~=^settings/
  actions:
    label:
      add:
      - settings
      remove: []
- name: Label site PRs
  conditions:
  - files~=^site/
  actions:
    label:
      add:
      - site
      remove: []
- name: Label sonatype PRs
  conditions:
  - files~=^sonatype/
  actions:
    label:
      add:
      - sonatype
      remove: []
- name: Label sonatype-ci-release PRs
  conditions:
  - files~=^sonatype-ci-release/
  actions:
    label:
      add:
      - sonatype-ci-release
      remove: []
- name: Label unidoc PRs
  conditions:
  - files~=^unidoc/
  actions:
    label:
      add:
      - unidoc
      remove: []
- name: Label versioning PRs
  conditions:
  - files~=^versioning/
  actions:
    label:
      add:
      - versioning
      remove: []
- name: assign scala-steward's PRs for review
  conditions:
  - author=typelevel-steward[bot]
  actions:
    request_reviews:
      users:
      - armanbilge

Cleanup unused imports
  ci/src/main/scala/org/typelevel/sbt/TypelevelCiPlugin.scala
Due: Label ci PRs

Move GitHub-related settings to GitHub plugin
  github/src/main/scala/org/typelevel/sbt/TypelevelGitHubPlugin.scala
  settings/src/main/scala/org/typelevel/sbt/TypelevelSettingsPlugin.scala
Due: Label github PRs, Label settings PRs

Use semantic version selector for `++`
  .github/workflows/ci.yml
  .mergify.yml
  github-actions/src/main/scala/org/typelevel/sbt/gha/GenerativePlugin.scala
Due: Label github-actions PRs

Fix excludes
  .github/workflows/ci.yml
  .mergify.yml
  core/src/main/scala/org/typelevel/sbt/TypelevelPlugin.scala
Due: Label core PRs

Update GitHub actions to the latest versions
  .github/workflows/ci.yml
  core/src/main/scala/org/typelevel/sbt/TypelevelPlugin.scala
  github-actions/src/main/scala/org/typelevel/sbt/gha/GenerativePlugin.scala
  github-actions/src/main/scala/org/typelevel/sbt/gha/WorkflowStep.scala
Due: Label core PRs, Label github-actions PRs

add a space to the Scala version selector command
  .github/workflows/ci.yml
  github-actions/src/main/scala/org/typelevel/sbt/gha/GenerativeKeys.scala
  github-actions/src/main/scala/org/typelevel/sbt/gha/GenerativePlugin.scala
  github-actions/src/main/scala/org/typelevel/sbt/gha/WorkflowJob.scala
Due: Label github-actions PRs

deploy: c4e104f6124998152cdcaef1b2ab67a544729fc4
  site.html
Due: none

deploy: 071ef66207385429da4adc0a6891f5853c10c480
  site.html
Due: none

introduce `CompileOnly` custom configuration
  kernel/src/main/scala/org/typelevel/sbt/TypelevelKernelPlugin.scala
Due: Label kernel PRs

Allow configuring `concurrency` for a job
  .github/workflows/ci.yml
  build.sbt
  docs/gha.md
  github-actions/src/main/scala/org/typelevel/sbt/gha/GenerativeKeys.scala
  github-actions/src/main/scala/org/typelevel/sbt/gha/GenerativePlugin.scala
  github-actions/src/main/scala/org/typelevel/sbt/gha/JobConcurrency.scala
  github-actions/src/main/scala/org/typelevel/sbt/gha/WorkflowJob.scala
Due: Label docs PRs, Label github-actions PRs

A few minor improvements: better wording, replace `!.isEmpty` -> `nonEmpty`, use `License.Apache2` constant
  core/src/main/scala/org/typelevel/sbt/TypelevelPlugin.scala
  docs/gha.md
  github-actions/src/main/scala/org/typelevel/sbt/gha/GenerativePlugin.scala
Due: Label core PRs, Label docs PRs, Label github-actions PRs

Allow configuring `timeout-minutes` for a job and a step
  .github/workflows/ci.yml
  build.sbt
  ci/src/main/scala/org/typelevel/sbt/CrossRootProject.scala
  docs/gha.md
  github-actions/src/main/scala/org/typelevel/sbt/gha/GenerativeKeys.scala
  github-actions/src/main/scala/org/typelevel/sbt/gha/GenerativePlugin.scala
  github-actions/src/main/scala/org/typelevel/sbt/gha/WorkflowJob.scala
  github-actions/src/main/scala/org/typelevel/sbt/gha/WorkflowStep.scala
Due: Label ci PRs, Label docs PRs, Label github-actions PRs

add an explicit type to the `CompileOnly` configuration
  kernel/src/main/scala/org/typelevel/sbt/TypelevelKernelPlugin.scala
Due: Label kernel PRs

deploy: 0977b12f1d8310842461fc57ae986a1e19a997fa
  site.html
Due: none

Enable build `concurrency` by default
  .github/workflows/ci.yml
  build.sbt
  docs/gha.md
  github-actions/src/main/scala/org/typelevel/sbt/gha/GenerativeKeys.scala
  github-actions/src/main/scala/org/typelevel/sbt/gha/GenerativePlugin.scala
Due: Label docs PRs, Label github-actions PRs

Suppress false-positive warning
  github-actions/src/main/scala/org/typelevel/sbt/gha/GenerativeKeys.scala
Due: Label github-actions PRs

Address review suggestions.
  .github/workflows/ci.yml
  docs/gha.md
  github-actions/src/main/scala/org/typelevel/sbt/gha/GenerativeKeys.scala
  github-actions/src/main/scala/org/typelevel/sbt/gha/GenerativePlugin.scala
Due: Label docs PRs, Label github-actions PRs

Use `ci-build-` as a prefix of the concurrency group
  .github/workflows/ci.yml
  docs/gha.md
  github-actions/src/main/scala/org/typelevel/sbt/gha/GenerativeKeys.scala
  github-actions/src/main/scala/org/typelevel/sbt/gha/GenerativePlugin.scala
Due: Label docs PRs, Label github-actions PRs

deploy: b3d0901c1c66d1f39385c0316a5d0371902cab73
  site.html
Due: none

Enable workflow concurrency by default
  .github/workflows/ci.yml
  docs/gha.md
  github-actions/src/main/scala/org/typelevel/sbt/gha/Concurrency.scala
  github-actions/src/main/scala/org/typelevel/sbt/gha/GenerativeKeys.scala
  github-actions/src/main/scala/org/typelevel/sbt/gha/GenerativePlugin.scala
  github-actions/src/main/scala/org/typelevel/sbt/gha/WorkflowJob.scala
Due: Label docs PRs, Label github-actions PRs

deploy: 5e5093cb3ef9d3f04e72640c780911e9a7ffa062
  api/index.html
  customization.html
  faq.html
  gha.html
  index.html
  secrets.html
  site.html
Due: none

Use ` ${{ github.workflow }} @ ${{ github.ref }}` as a default concurrent group
  .github/workflows/ci.yml
  docs/gha.md
  github-actions/src/main/scala/org/typelevel/sbt/gha/GenerativeKeys.scala
  github-actions/src/main/scala/org/typelevel/sbt/gha/GenerativePlugin.scala
Due: Label docs PRs, Label github-actions PRs

Run `sbt update` on cache miss
  .github/workflows/ci.yml
  github-actions/src/main/scala/org/typelevel/sbt/gha/WorkflowStep.scala
Due: Label github-actions PRs

setup steps need unique ids
  .github/workflows/ci.yml
  github-actions/src/main/scala/org/typelevel/sbt/gha/WorkflowStep.scala
Due: Label github-actions PRs

stupid gha yaml
  .github/workflows/ci.yml
  github-actions/src/main/scala/org/typelevel/sbt/gha/WorkflowStep.scala
Due: Label github-actions PRs

Heh, my bad
  .github/workflows/ci.yml
  github-actions/src/main/scala/org/typelevel/sbt/gha/WorkflowStep.scala
Due: Label github-actions PRs

Ok, try `== false` instead
  .github/workflows/ci.yml
  github-actions/src/main/scala/org/typelevel/sbt/gha/WorkflowStep.scala
Due: Label github-actions PRs

idk, try the opposite
  .github/workflows/ci.yml
  github-actions/src/main/scala/org/typelevel/sbt/gha/WorkflowStep.scala
Due: Label github-actions PRs

Fixing
  .github/workflows/ci.yml
  github-actions/src/main/scala/org/typelevel/sbt/gha/WorkflowStep.scala
Due: Label github-actions PRs

Cache hit outputs as a string
  .github/workflows/ci.yml
  github-actions/src/main/scala/org/typelevel/sbt/gha/WorkflowStep.scala
Due: Label github-actions PRs

Update to sbt-header 5.9.0
  core/build.sbt
Due: Label core PRs

Use `hostedApiUrl` as fallback for `apiURL`
  sonatype/src/main/scala/org/typelevel/sbt/TypelevelSonatypePlugin.scala
Due: Label sonatype PRs

deploy: 7034461b363136b1d4562a6a482b869eafaf280e
  faq.html
  site.html
Due: none

Add Inkuire in ScalaDoc settings, enables searching by function for Scala 3.2.1+
  settings/src/main/scala/org/typelevel/sbt/TypelevelSettingsPlugin.scala
Due: Label settings PRs

Fix pattern match for Inkuire support
  settings/src/main/scala/org/typelevel/sbt/TypelevelSettingsPlugin.scala
Due: Label settings PRs

Update pattern match clause for minor version
  settings/src/main/scala/org/typelevel/sbt/TypelevelSettingsPlugin.scala
Due: Label settings PRs

deploy: 5aa66f9f2b9959dc989b4c50ac68034c0289ba9d
  site.html
Due: none

Bump actions to Node 16 versions
  github-actions/src/main/scala/org/typelevel/sbt/gha/GenerativePlugin.scala
  github-actions/src/main/scala/org/typelevel/sbt/gha/WorkflowStep.scala
Due: Label github-actions PRs

I guess we self-host our own workflow
  .github/workflows/ci.yml
Due: none

Bump more actions
  .github/workflows/ci.yml
  github-actions/src/main/scala/org/typelevel/sbt/gha/GenerativePlugin.scala
  github-actions/src/main/scala/org/typelevel/sbt/gha/WorkflowStep.scala
  site/src/main/scala/org/typelevel/sbt/TypelevelSitePlugin.scala
Due: Label github-actions PRs, Label site PRs
