Repository typelevel/sbt-typelevel: changes, and which Mergify rules are due for each by the changed paths.
All: Label ci PRs, Label ci-release PRs, Label ci-signing PRs, Label core PRs, Label docs PRs, Label github PRs, Label github-actions PRs, Label kernel PRs, Label mdocs PRs, Label mergify PRs, Label mima PRs, Label no-publish PRs, Label scalafix PRs, Label settings PRs, Label site PRs, Label sonatype PRs, Label sonatype-ci-release PRs, Label versioning PRs

Label ci PRs:
  label:
    add:
    - ci
    remove: []

Label ci-release PRs:
  label:
    add:
    - ci-release
    remove: []

Label ci-signing PRs:
  label:
    add:
    - ci-signing
    remove: []

Label core PRs:
  label:
    add:
    - core
    remove: []

Label docs PRs:
  label:
    add:
    - docs
    remove: []

Label github PRs:
  label:
    add:
    - github
    remove: []

Label github-actions PRs:
  label:
    add:
    - github-actions
    remove: []

Label kernel PRs:
  label:
    add:
    - kernel
    remove: []

Label mdocs PRs:
  label:
    add:
    - mdocs
    remove: []

Label mergify PRs:
  label:
    add:
    - mergify
    remove: []

Label mima PRs:
  label:
    add:
    - mima
    remove: []

Label no-publish PRs:
  label:
    add:
    - no-publish
    remove: []

Label scalafix PRs:
  label:
    add:
    - scalafix
    remove: []

Label settings PRs:
  label:
    add:
    - settings
    remove: []

Label site PRs:
  label:
    add:
    - site
    remove: []

Label sonatype PRs:
  label:
    add:
    - sonatype
    remove: []

Label sonatype-ci-release PRs:
  label:
    add:
    - sonatype-ci-release
    remove: []

Label versioning PRs:
  label:
    add:
    - versioning
    remove: []

Add permissions and concurrency. Refactor needs
  github-actions/src/main/scala/org/typelevel/sbt/gha/GenerativePlugin.scala
  github-actions/src/main/scala/org/typelevel/sbt/gha/WorkflowJob.scala
Due: Label github-actions PRs

Cleaned up redundant empty string checks, added prefix, suffix to some compile
  github-actions/src/main/scala/org/typelevel/sbt/gha/Concurrency.scala
  github-actions/src/main/scala/org/typelevel/sbt/gha/GenerativePlugin.scala
Due: Label github-actions PRs

Cleanup render of types and steps
  github-actions/src/main/scala/org/typelevel/sbt/gha/GenerativePlugin.scala
Due: Label github-actions PRs

Apply deprecation message suggestion
  github-actions/src/main/scala/org/typelevel/sbt/gha/GenerativePlugin.scala
Due: Label github-actions PRs

Dogfood continue-on-error
  .github/workflows/ci.yml
  build.sbt
Due: none

Apply suggestions from code review
  github-actions/src/main/scala/org/typelevel/sbt/gha/GenerativePlugin.scala
  github-actions/src/main/scala/org/typelevel/sbt/gha/WorkflowStep.scala
Due: Label github-actions PRs

deploy: ad24943a85c2a65cd04173b28218ef65490f159b
  site.html
Due: none

deploy: 41a7c9d82d4f9b98496ea677cd04c0d184c01dbb
  site.html
Due: none

Create a `Workflow` type to capture an entire workflow file.
  .github/workflows/ci.yml
  .github/workflows/clean.yml
  ci/src/main/scala/org/typelevel/sbt/TypelevelCiPlugin.scala
  github-actions/src/main/resources/clean.yml
  github-actions/src/main/scala/org/typelevel/sbt/gha/Concurrency.scala
  github-actions/src/main/scala/org/typelevel/sbt/gha/GenerativeKeys.scala
  github-actions/src/main/scala/org/typelevel/sbt/gha/GenerativePlugin.scala
  github-actions/src/main/scala/org/typelevel/sbt/gha/Secrets.scala
  github-actions/src/main/scala/org/typelevel/sbt/gha/Workflow.scala
  github-actions/src/main/scala/org/typelevel/sbt/gha/WorkflowJob.scala
  github-actions/src/main/scala/org/typelevel/sbt/gha/WorkflowTrigger.scala
  mergify/src/main/scala/org/typelevel/sbt/mergify/MergifyPlugin.scala
  site/src/main/scala/org/typelevel/sbt/TypelevelSitePlugin.scala
Due: Label ci PRs, Label github-actions PRs, Label mergify PRs, Label site PRs

deploy: a8e69d2eab6cc251c90724d754336830dd19de8c
  api/index.html
  customization.html
  faq.html
  gha.html
  index.html
  secrets.html
  site.html
Due: none

suppress new warning about kind-polymorphic type inferred as Nothing due to high false positive rate in Typelevel-style code
  settings/src/main/scala/org/typelevel/sbt/TypelevelSettingsPlugin.scala
Due: Label settings PRs

suppress lint-infer-any/kind-polymorphic warnings in 2.13.17 and greater
  settings/src/main/scala/org/typelevel/sbt/TypelevelSettingsPlugin.scala
Due: Label settings PRs

deploy: dabece743973d6e65fb5e632ecbefe5e6adfc0b0
  site.html
Due: none

deploy: 820f3e87816c9d5f7bc9943911859fdd587845b2
  api/index.html
  customization.html
  faq.html
  gha.html
  index.html
  secrets.html
  site.html
Due: none

Allow defining outputs for GHA jobs
  github-actions/src/main/scala/org/typelevel/sbt/gha/GenerativePlugin.scala
  github-actions/src/main/scala/org/typelevel/sbt/gha/WorkflowJob.scala
Due: Label github-actions PRs

Bump base version
  build.sbt
Due: none

Update actions/upload-artifact and actions/download-artifact
  .github/workflows/ci.yml
  github-actions/src/main/scala/org/typelevel/sbt/gha/GenerativePlugin.scala
Due: Label github-actions PRs

add methods to keep bincompat, unbump base version
  build.sbt
  github-actions/src/main/scala/org/typelevel/sbt/gha/WorkflowJob.scala
Due: Label github-actions PRs

deploy: 7b3b88c0e2e55aeebfa3d5cbf1b460e21df08ad0
  site.html
Due: none

deploy: d9bf6b5ec85c7e8c3238bb220e329c891abc7be3
  site.html
Due: none

remove unnecessary overloads, add mima filters
  build.sbt
  github-actions/mima.sbt
  github-actions/src/main/scala/org/typelevel/sbt/gha/WorkflowJob.scala
Due: Label github-actions PRs

add job to exercise outputs
  .github/workflows/ci.yml
  build.sbt
Due: none

Update actions/checkout to v6
  .github/workflows/ci.yml
  github-actions/src/main/scala/org/typelevel/sbt/gha/WorkflowStep.scala
Due: Label github-actions PRs

deploy: e8f7291df79606ee81f1830f7682334c252a0a19
  api/index.html
  customization.html
  faq.html
  gha.html
  index.html
  secrets.html
  site.html
Due: none

deploy: ceb8c3e515400f4e78c9d9314824d3eb1a43919e
  site.html
Due: none

deploy: dc68f3839519f4865981d8b04bc4150ac3ae141a
  site.html
Due: none

Convert code-comment to deprecation
  github-actions/src/main/scala/org/typelevel/sbt/gha/WorkflowJob.scala
Due: Label github-actions PRs

deploy: 262283add5cfe2dd55a391ee9b6b331cc2b072be
  site.html
Due: none

Update scalacOptions for Scala 3.8
  settings/src/main/scala/org/typelevel/sbt/TypelevelSettingsPlugin.scala
Due: Label settings PRs

Change concurrency class to handle more complex expressions for cancellation.
  build.sbt
  github-actions/src/main/scala/org/typelevel/sbt/gha/Concurrency.scala
Due: Label github-actions PRs

deploy: c7fc11552026118521034be47fcc29a928614fdc
  site.html
Due: none

deploy: 7c9094863a3cf65903327bcbb475554f241e0384
  site.html
Due: none

Update github-actions/src/main/scala/org/typelevel/sbt/gha/Concurrency.scala
  github-actions/src/main/scala/org/typelevel/sbt/gha/Concurrency.scala
Due: Label github-actions PRs

Reset tlBaseVersion, flush out @armanbilge's suggestion
  build.sbt
  github-actions/src/main/scala/org/typelevel/sbt/gha/Concurrency.scala
  github-actions/src/main/scala/org/typelevel/sbt/gha/GenerativePlugin.scala
Due: Label github-actions PRs

deploy: f02161b2c7d4ea3ae8df97743a065078dbd7e470
  site.html
Due: none

Add default 404.html via theme injection (working but unstyled version)
  site/src/main/scala/org/typelevel/sbt/site/GenericSiteSettings.scala
Due: Label site PRs

snapshot version for local publishing
  build.sbt
Due: none

Path conditions:
  Label ci PRs: any of: ^ci/
  Label ci-release PRs: any of: ^ci-release/
  Label ci-signing PRs: any of: ^ci-signing/
  Label core PRs: any of: ^core/
  Label docs PRs: any of: ^docs/
  Label github PRs: any of: ^github/
  Label github-actions PRs: any of: ^github-actions/
  Label kernel PRs: any of: ^kernel/
  Label mdocs PRs: any of: ^mdocs/
  Label mergify PRs: any of: ^mergify/
  Label mima PRs: any of: ^mima/
  Label no-publish PRs: any of: ^no-publish/
  Label scalafix PRs: any of: ^scalafix/
  Label settings PRs: any of: ^settings/
  Label site PRs: any of: ^site/
  Label sonatype PRs: any of: ^sonatype/
  Label sonatype-ci-release PRs: any of: ^sonatype-ci-release/
  Label versioning PRs: any of: ^versioning/
