Repository typelevel/sbt-typelevel: changes, and which Mergify rules are due for each by the changed paths.
All: Label ci PRs, Label ci-release PRs, Label ci-signing PRs, Label core PRs, Label docs PRs, Label github PRs, Label github-actions PRs, Label kernel PRs, Label mdocs PRs, Label mergify PRs, Label mima PRs, Label no-publish PRs, Label scalafix PRs, Label settings PRs, Label site PRs, Label sonatype PRs, Label sonatype-ci-release PRs, Label unidoc PRs, Label versioning PRs

.mergify.yml:

# This file was automatically generated by sbt-typelevel-mergify using the
# mergifyGenerate task. You should add and commit this file to
# your git repository. It goes without saying that you shouldn't edit
# this file by hand! Instead, if you wish to make changes, you should
# change your sbt build configuration to revise the mergify configuration
# to meet your needs, then regenerate this file.

pull_request_rules:
- name: merge scala-steward's PRs
  conditions:
  - author=typelevel-steward[bot]
  - or:
    - body~=labels:.*early-semver-patch
    - body~=labels:.*early-semver-minor
  - status-success=Build and Test (ubuntu-latest, 2.12.16, temurin@8, sbt-typelevelJVM)
  - status-success=Build and Test (ubuntu-latest, 2.12.16, temurin@17, sbt-typelevelJVM)
  - '#approved-reviews-by>=1'
  actions:
    merge: {}
- name: Label ci PRs
  conditions:
  - files~=^ci/
  actions:
    label:
      add:
      - ci
      remove: []
- name: Label ci-release PRs
  conditions:
  - files~=^ci-release/
  actions:
    label:
      add:
      - ci-release
      remove: []
- name: Label ci-signing PRs
  conditions:
  - files~=^ci-signing/
  actions:
    label:
      add:
      - ci-signing
      remove: []
- name: Label core PRs
  conditions:
  - files~=^core/
  actions:
    label:
      add:
      - core
      remove: []
- name: Label docs PRs
  conditions:
  - files~=^docs/
  actions:
    label:
      add:
      - docs
      remove: []
- name: Label github PRs
  conditions:
  - files~=^github/
  actions:
    label:
      add:
      - github
      remove: []
- name: Label github-actions PRs
  conditions:
  - files~=^github-actions/
  actions:
    label:
      add:
      - github-actions
      remove: []
- name: Label kernel PRs
  conditions:
  - files~=^kernel/
  actions:
    label:
      add:
      - kernel
      remove: []
- name: Label mdocs PRs
  conditions:
  - files~=^mdocs/
  actions:
    label:
      add:
      - mdocs
      remove: []
- name: Label mergify PRs
  conditions:
  - files~=^mergify/
  actions:
    label:
      add:
      - mergify
      remove: []
- name: Label mima PRs
  conditions:
  - files~=^mima/
  actions:
    label:
      add:
      - mima
      remove: []
- name: Label no-publish PRs
  conditions:
  - files~=^no-publish/
  actions:
    label:
      add:
      - no-publish
      remove: []
- name: Label scalafix PRs
  conditions:
  - files~=^scalafix/
  actions:
    label:
      add:
      - scalafix
      remove: []
- name: Label settings PRs
  conditions:
  - files~=^settings/
  actions:
    label:
      add:
      - settings
      remove: []
- name: Label site PRs
  conditions:
  - files~=^site/
  actions:
    label:
      add:
      - site
      remove: []
- name: Label sonatype PRs
  conditions:
  - files~=^sonatype/
  actions:
    label:
      add:
      - sonatype
      remove: []
- name: Label sonatype-ci-release PRs
  conditions:
  - files~=^sonatype-ci-release/
  actions:
    label:
      add:
      - sonatype-ci-release
      remove: []
- name: Label unidoc PRs
  conditions:
  - files~=^unidoc/
  actions:
    label:
      add:
      - unidoc
      remove: []
- name: Label versioning PRs
  conditions:
  - files~=^versioning/
  actions:
    label:
      add:
      - versioning
      remove: []
- name: assign scala-steward's PRs for review
  conditions:
  - author=typelevel-steward[bot]
  actions:
    request_reviews:
      users:
      - armanbilge

deploy: aa717fc6ae09a32dd2cb3e72d87020717c568810
  customization.html
  faq.html
  gha.html
  index.html
  secrets.html
  site.html
Due: none

deploy: 27fd111fbb29f8cc8954e5b49da4192d025433e9
  site.html
Due: none

deploy: 6294e515c7a151bb0297ce3d3cbd30bc16e85d6b
  site.html
Due: none

Use `crossProjectCrossType` in settings plugin
  settings/src/main/scala/org/typelevel/sbt/TypelevelSettingsPlugin.scala
Due: Label settings PRs

Use `crossProjectBaseDirectory` in mergify plugin
  mergify/build.sbt
  mergify/src/main/scala/org/typelevel/sbt/mergify/MergifyPlugin.scala
Due: Label mergify PRs

Tidy unused import
  settings/src/main/scala/org/typelevel/sbt/TypelevelSettingsPlugin.scala
Due: Label settings PRs

deploy: fbcd01c6ba3a0212acc9f2906b6fb893c95c0ed5
  site.html
Due: none

Add steward config validator CI job
  .github/workflows/ci.yml
  github-actions/src/main/scala/org/typelevel/sbt/gha/GenerativeKeys.scala
  github-actions/src/main/scala/org/typelevel/sbt/gha/GenerativePlugin.scala
Due: Label github-actions PRs

Shorter job name
  .github/workflows/ci.yml
  github-actions/src/main/scala/org/typelevel/sbt/gha/GenerativePlugin.scala
Due: Label github-actions PRs

Move job config to CI plugin
  ci/src/main/scala/org/typelevel/sbt/TypelevelCiPlugin.scala
  github-actions/src/main/scala/org/typelevel/sbt/gha/GenerativeKeys.scala
  github-actions/src/main/scala/org/typelevel/sbt/gha/GenerativePlugin.scala
Due: Label ci PRs, Label github-actions PRs

deploy: 9106a7e3114d94ea1d9b9af3511e2f5e5806be17
  site.html
Due: none

use githubWorkflowBuildSbtStepPreamble in publish step
  github-actions/src/main/scala/org/typelevel/sbt/gha/GenerativePlugin.scala
  github-actions/src/main/scala/org/typelevel/sbt/gha/WorkflowJob.scala
Due: Label github-actions PRs

deploy: 6077b3ed02762b853f0eed482af6c3f86c39c1a9
  api/index.html
  customization.html
  faq.html
  gha.html
  index.html
  secrets.html
  site.html
Due: none

add a section to the Secrets documentation informing users of my 1Password / GitHub CLI script for setting up a new repo
  docs/secrets.md
Due: Label docs PRs

deploy: 8950243c4606b82f67ea07e0ebf8caa4e3f8b1f2
  secrets.html
  site.html
Due: none

omit build matrix axes when they're empty in the sbt config
  .github/workflows/ci.yml
  .mergify.yml
  build.sbt
  ci/src/main/scala/org/typelevel/sbt/TypelevelCiPlugin.scala
  github-actions/src/main/scala/org/typelevel/sbt/gha/GenerativePlugin.scala
  site/src/main/scala/org/typelevel/sbt/TypelevelSitePlugin.scala
Due: Label ci PRs, Label github-actions PRs, Label site PRs

deploy: 896088a12ecf75b8fbbb3a3ce64d54095d3f2764
  site.html
Due: none

Steward config validation job can use default Java
  .github/workflows/ci.yml
  .mergify.yml
  ci/src/main/scala/org/typelevel/sbt/TypelevelCiPlugin.scala
Due: Label ci PRs

deploy: 2aa235cf7a8921060d256c5853c25b97dbe6863c
  site.html
Due: none

Bump laika-sbt version
  site/build.sbt
Due: Label site PRs

Support Laika's API changes
  site/src/main/scala/org/typelevel/sbt/TypelevelSitePlugin.scala
  site/src/main/scala/org/typelevel/sbt/site/ThemeProviderOps.scala
  site/src/main/scala/org/typelevel/sbt/site/TypelevelHeliumExtensions.scala
Due: Label site PRs

Update template
  site/src/main/resources/org/typelevel/sbt/site/helium/default.template.html
Due: Label site PRs

Update link to Laika's docs
  docs/site.md
Due: Label docs PRs

Scalafix
  site/src/main/scala/org/typelevel/sbt/TypelevelSitePlugin.scala
Due: Label site PRs

Pin Laika updates
  .scala-steward.conf
Due: none

deploy: b1280d7b7acd2798208baf2ad509ef7153cd9265
  api/index.html
  customization.html
  faq.html
  gha.html
  index.html
  secrets.html
  site.html
Due: none

deploy: 349c9841147494fdb23cd93f1900348c41631905
  site.html
Due: none

Update Laika URLs
  README.md
  build.sbt
  docs/customization.md
  docs/index.md
  docs/site.md
Due: Label docs PRs

deploy: 4dc8997481f113d464848584457bbce64e47c62d
  customization.html
  faq.html
  gha.html
  index.html
  secrets.html
  site.html
Due: none

Add re-introduced unused/discard warnings for scala >3.3.0
  settings/src/main/scala/org/typelevel/sbt/TypelevelSettingsPlugin.scala
Due: Label settings PRs

Tidy up fonts, fix mastodon icon
  site/src/main/resources/org/typelevel/sbt/site/fonts/FiraMono/FiraMono-Bold.ttf
  site/src/main/resources/org/typelevel/sbt/site/fonts/FiraMono/FiraMono-Medium.ttf
  site/src/main/resources/org/typelevel/sbt/site/fonts/FiraMono/FiraMono-Regular.ttf
  site/src/main/resources/org/typelevel/sbt/site/fonts/FiraMono/OFL.txt
  site/src/main/scala/org/typelevel/sbt/site/TypelevelSiteSettings.scala
Due: Label site PRs

Add `sbt-scala-native-crossproject` to core
  core/build.sbt
Due: Label core PRs

Tidy unused imports
  site/src/main/scala/org/typelevel/sbt/site/TypelevelSiteSettings.scala
Due: Label site PRs

Remove unused styles
  site/src/main/resources/org/typelevel/sbt/site/helium/site/styles.css
Due: Label site PRs

Add scalac-compat dependency by default
  settings/src/main/scala/org/typelevel/sbt/TypelevelSettingsPlugin.scala
Due: Label settings PRs

Update site.md
  docs/site.md
Due: Label docs PRs

deploy: 285362b7f672bff6f58d1d3e31e669b511f42e8a
  site.html
Due: none

Cleanup after scalafix update
  build.sbt
Due: none

deploy: 8b7e77e91bd34038605eb71e8d78fb8a558321d6
  site.html
Due: none

Regenerate workflow
  .github/workflows/ci.yml
Due: none
