Repository typelevel/sbt-typelevel: changes, and which Mergify rules are due for each by the changed paths.
All: Label ci PRs, Label ci-release PRs, Label ci-signing PRs, Label core PRs, Label docs PRs, Label github PRs, Label github-actions PRs, Label kernel PRs, Label mdocs PRs, Label mergify PRs, Label mima PRs, Label no-publish PRs, Label scalafix PRs, Label settings PRs, Label site PRs, Label sonatype PRs, Label sonatype-ci-release PRs, Label versioning PRs

Path conditions:
  Label ci PRs: any of: ^ci/
  Label ci-release PRs: any of: ^ci-release/
  Label ci-signing PRs: any of: ^ci-signing/
  Label core PRs: any of: ^core/
  Label docs PRs: any of: ^docs/
  Label github PRs: any of: ^github/
  Label github-actions PRs: any of: ^github-actions/
  Label kernel PRs: any of: ^kernel/
  Label mdocs PRs: any of: ^mdocs/
  Label mergify PRs: any of: ^mergify/
  Label mima PRs: any of: ^mima/
  Label no-publish PRs: any of: ^no-publish/
  Label scalafix PRs: any of: ^scalafix/
  Label settings PRs: any of: ^settings/
  Label site PRs: any of: ^site/
  Label sonatype PRs: any of: ^sonatype/
  Label sonatype-ci-release PRs: any of: ^sonatype-ci-release/
  Label versioning PRs: any of: ^versioning/

refined 404 html in helium style
  site/src/main/scala/org/typelevel/sbt/site/GenericSiteSettings.scala
Due: Label site PRs

remove test snapshot version
  build.sbt
Due: none

add user override if their own 404.md provided
  site/src/main/scala/org/typelevel/sbt/site/GenericSiteSettings.scala
Due: Label site PRs

revert accidental versio setting change
  build.sbt
Due: none

correct formating
  site/src/main/scala/org/typelevel/sbt/site/GenericSiteSettings.scala
Due: Label site PRs

correct linting
  site/src/main/scala/org/typelevel/sbt/site/GenericSiteSettings.scala
Due: Label site PRs

feat: sbt-2 migration prototype with ProjectMatrixWrapper and thin client
  ci/src/main/scala/org/typelevel/sbt/ProjectMatrixWrapper.scala
  ci/src/main/scala/org/typelevel/sbt/TypelevelCiPlugin.scala
  github-actions/src/main/scala/org/typelevel/sbt/gha/GenerativePlugin.scala
  project/build.properties
Due: Label ci PRs, Label github-actions PRs

Add opt-in setting for kind-projector underscore syntax
  settings/src/main/scala/org/typelevel/sbt/TypelevelSettingsPlugin.scala
Due: Label settings PRs

Add opt-in support for TASTy-MiMa to check Scala 3 compatibility in CI
  ci/src/main/scala/org/typelevel/sbt/TypelevelCiPlugin.scala
  docs/customization.md
  mima/build.sbt
  mima/src/main/scala/org/typelevel/sbt/TypelevelMimaPlugin.scala
Due: Label ci PRs, Label docs PRs, Label mima PRs

Fix scalafix error: Reorder imports in TypelevelMimaPlugin
  mima/src/main/scala/org/typelevel/sbt/TypelevelMimaPlugin.scala
Due: Label mima PRs

chore: add mima binary issue filter for TypelevelMimaPlugin.requires
  build.sbt
Due: none

deploy: aa89a0dab4809645341f91322c80062c113f6dab
  api/index.html
  customization.html
  faq.html
  gha.html
  index.html
  secrets.html
  site.html
Due: none

deploy: d08ad8eb930ccdffe5b9e44cebab40abaab1c3b4
  site.html
Due: none

deploy: 6f7fe513ad2a075f3e86e15d36798fd1c3a9b609
  site.html
Due: none

handle Scala 2 via tlIsScala3 and remove redundant tlTastyMima
  docs/customization.md
  mima/src/main/scala/org/typelevel/sbt/TypelevelMimaPlugin.scala
Due: Label docs PRs, Label mima PRs

Migrate plugins DOT diagram to Mermaid
  docs/customization.md
  docs/plugins.dot
  docs/plugins.svg
Due: Label docs PRs

deploy: 618e91278794f8ad5d17e5dae6c90b45e8f9a6f2
  site.html
Due: none

Grant write permissions to dependency-graph job
  ci/src/main/scala/org/typelevel/sbt/TypelevelCiPlugin.scala
Due: Label ci PRs

resolve ci errors
  .github/workflows/ci.yml
Due: none

Skip Scala.js sourcemap mapping when there are uncommitted changes
  github/src/main/scala/org/typelevel/sbt/TypelevelScalaJSGitHubPlugin.scala
Due: Label github PRs

Resolve line ending issues
  .github/workflows/ci.yml
Due: none

Apply scalafmt to TypelevelCiPlugin
  ci/src/main/scala/org/typelevel/sbt/TypelevelCiPlugin.scala
Due: Label ci PRs

deploy: 6b6fb2497fba897d0ef5a8f5d96a0266f66095a8
  site.html
Due: none

Enable dependency-submission on same-repo pull requests
  .github/workflows/ci.yml
  ci/src/main/scala/org/typelevel/sbt/TypelevelCiPlugin.scala
  docs/customization.md
Due: Label ci PRs, Label docs PRs

docs: simplify wording
  docs/customization.md
Due: Label docs PRs

Add tlCiLintCommands key
  ci/src/main/scala/org/typelevel/sbt/TypelevelCiPlugin.scala
  docs/customization.md
Due: Label ci PRs, Label docs PRs

Update scalacOptions for Scala 3.8
  settings/src/main/scala/org/typelevel/sbt/TypelevelSettingsPlugin.scala
Due: Label settings PRs

Set -java-output-version to 17 for Scala 3.8+
  settings/src/main/scala/org/typelevel/sbt/TypelevelSettingsPlugin.scala
Due: Label settings PRs

deploy: 64f306307fb3aca268d7ffe134150b9a8d508363
  faq.html
  site.html
Due: none

Clean up version matching cases
  settings/src/main/scala/org/typelevel/sbt/TypelevelSettingsPlugin.scala
Due: Label settings PRs

deploy: 4b29c3f6deb5a34782545be11b578270b8f16e09
  site.html
Due: none

Support custom triggers for ci
  docs/gha.md
  github-actions/src/main/scala/org/typelevel/sbt/gha/GenerativeKeys.scala
  github-actions/src/main/scala/org/typelevel/sbt/gha/GenerativePlugin.scala
  github-actions/src/main/scala/org/typelevel/sbt/gha/MergeGroupEventType.scala
  github-actions/src/main/scala/org/typelevel/sbt/gha/MergeGroupTrigger.scala
  github-actions/src/main/scala/org/typelevel/sbt/gha/PullRequestTrigger.scala
  github-actions/src/main/scala/org/typelevel/sbt/gha/PushOrPullRequestTrigger.scala
  github-actions/src/main/scala/org/typelevel/sbt/gha/PushTrigger.scala
  github-actions/src/main/scala/org/typelevel/sbt/gha/WorkflowTriggers.scala
Due: Label docs PRs, Label github-actions PRs

Update validate-steward job java version
  .github/workflows/ci.yml
  .mergify.yml
  ci/src/main/scala/org/typelevel/sbt/TypelevelCiPlugin.scala
Due: Label ci PRs

deploy: 424230ccaa506ba90e522aa2a9bdabc267462036
  site.html
Due: none

Update actions/checkout to v7
  .github/workflows/ci.yml
  github-actions/src/main/scala/org/typelevel/sbt/gha/WorkflowStep.scala
Due: Label github-actions PRs

Replace sbt-gpg with sbt-pgp
  ci-signing/build.sbt
  ci-signing/src/main/scala/org/typelevel/sbt/TypelevelCiSigningPlugin.scala
  docs/customization.md
  docs/plugins.dot
  kernel/src/main/scala/org/typelevel/sbt/TypelevelKernelPlugin.scala
  sonatype/build.sbt
  sonatype/src/main/scala/org/typelevel/sbt/TypelevelSonatypePlugin.scala
Due: Label ci-signing PRs, Label docs PRs, Label kernel PRs, Label sonatype PRs

Update actions/upload-artifact and actions/download-artifact
  .github/workflows/ci.yml
  github-actions/src/main/scala/org/typelevel/sbt/gha/GenerativePlugin.scala
Due: Label github-actions PRs

deploy: dfb6b58df7bb55d8ac8b65658a0f4e5d6a4ca445
  api/index.html
  customization.html
  faq.html
  gha.html
  index.html
  secrets.html
  site.html
Due: none

Specify scala-2.12 directory as part of project build sources.
  project/build.sbt
Due: none

Cross build mima plugin.
  build.sbt
  mima/src/main/scala/org/typelevel/sbt/TypelevelMimaPlugin.scala
Due: Label mima PRs
