Repository typelevel/sbt-typelevel: changes, and which Mergify rules are due for each by the changed paths.
All: Label ci PRs, Label ci-release PRs, Label ci-signing PRs, Label core PRs, Label docs PRs, Label github PRs, Label github-actions PRs, Label kernel PRs, Label mdocs PRs, Label mergify PRs, Label mima PRs, Label no-publish PRs, Label scalafix PRs, Label settings PRs, Label site PRs, Label sonatype PRs, Label sonatype-ci-release PRs, Label versioning PRs

Label ci PRs:
  label:
    add:
    - ci
    remove: []

Label ci-release PRs:
  label:
    add:
    - ci-release
    remove: []

Label ci-signing PRs:
  label:
    add:
    - ci-signing
    remove: []

Label core PRs:
  label:
    add:
    - core
    remove: []

Label docs PRs:
  label:
    add:
    - docs
    remove: []

Label github PRs:
  label:
    add:
    - github
    remove: []

Label github-actions PRs:
  label:
    add:
    - github-actions
    remove: []

Label kernel PRs:
  label:
    add:
    - kernel
    remove: []

Label mdocs PRs:
  label:
    add:
    - mdocs
    remove: []

Label mergify PRs:
  label:
    add:
    - mergify
    remove: []

Label mima PRs:
  label:
    add:
    - mima
    remove: []

Label no-publish PRs:
  label:
    add:
    - no-publish
    remove: []

Label scalafix PRs:
  label:
    add:
    - scalafix
    remove: []

Label settings PRs:
  label:
    add:
    - settings
    remove: []

Label site PRs:
  label:
    add:
    - site
    remove: []

Label sonatype PRs:
  label:
    add:
    - sonatype
    remove: []

Label sonatype-ci-release PRs:
  label:
    add:
    - sonatype-ci-release
    remove: []

Label versioning PRs:
  label:
    add:
    - versioning
    remove: []

deploy: b429b16912202c2b27b10c521b7ab6c2f598b971
  api/index.html
  customization.html
  faq.html
  gha.html
  index.html
  secrets.html
  site.html
Due: none

deploy: 5d825cf99843ce2519e13dc65b8a4649956bdd5e
  site.html
Due: none

deploy: 396243c10f6ba9f5698b1c542fcd3c404a233c14
  site.html
Due: none

Upstream `ScalafixProject`
  build.sbt
  scalafix/src/main/scala/org/typelevel/sbt/ScalafixProject.scala
  scalafix/src/main/scala/org/typelevel/sbt/ScalafixProjectMacros.scala
  scalafix/src/main/scala/org/typelevel/sbt/TypelevelScalafixPlugin.scala
Due: Label scalafix PRs

Add `ScalafixProject#in`
  scalafix/src/main/scala/org/typelevel/sbt/ScalafixProject.scala
Due: Label scalafix PRs

Remove auto-generated aggregate
  scalafix/src/main/scala/org/typelevel/sbt/ScalafixProject.scala
Due: Label scalafix PRs

Formatting
  scalafix/src/main/scala/org/typelevel/sbt/ScalafixProject.scala
Due: Label scalafix PRs

Add `ScalafixProject#componentProjectReferences`
  scalafix/src/main/scala/org/typelevel/sbt/ScalafixProject.scala
Due: Label scalafix PRs

deploy: 0ccb1feaeaf317040f2feabe67fd3008f6bc37d9
  site.html
Due: none

deploy: 67dd6ee6136ea816452afbe9265d1217130e8573
  site.html
Due: none

Update to setup-java v4
  .github/workflows/ci.yml
  github-actions/src/main/scala/org/typelevel/sbt/gha/WorkflowStep.scala
Due: Label github-actions PRs

deploy: 3d243b624de3070d5efda20bbb201d126f209ce5
  site.html
Due: none

Allow packaging sources from all managed directories
  settings/src/main/scala/org/typelevel/sbt/TypelevelSettingsPlugin.scala
Due: Label settings PRs

deploy: 8ebcebcbd30f4b13bfcde343a49ba97b4001653a
  api/index.html
  customization.html
  faq.html
  gha.html
  index.html
  secrets.html
  site.html
Due: none

Add @RustedBones as a contributor
  .all-contributorsrc
  README.md
Due: none

deploy: 92a99659c01610c803de15057fe545ea53f7abfa
  api/index.html
  customization.html
  faq.html
  gha.html
  index.html
  secrets.html
  site.html
Due: none

Update {upload,download}-artifact to v4
  .github/workflows/ci.yml
  github-actions/src/main/scala/org/typelevel/sbt/gha/GenerativePlugin.scala
Due: Label github-actions PRs

deploy: 5a1100180003053ec5dba82bef004cb90a4faeba
  site.html
Due: none

deploy: 0cd3ed56d5182e27903ae72bcd42cc4610059a40
  site.html
Due: none

deploy: 18e9bf9eb4ddad718a7553bc13044cce19a8931c
  faq.html
  index.html
  site.html
Due: none

deploy: 77b8fe16a1fa76fcd95c525c3630037ec6c49fd6
  api/index.html
  customization.html
  faq.html
  gha.html
  helium/site/laika-helium.css
  helium/site/landing-page.css
  index.html
  secrets.html
  site.html
Due: none

Install sbt via brew on macos runners
  .github/workflows/ci.yml
  .mergify.yml
  build.sbt
  github-actions/src/main/scala/org/typelevel/sbt/gha/GenerativePlugin.scala
Due: Label github-actions PRs

Tweak ordering of install step
  .github/workflows/ci.yml
  github-actions/src/main/scala/org/typelevel/sbt/gha/GenerativePlugin.scala
Due: Label github-actions PRs

Tweak exclusions
  .github/workflows/ci.yml
  .mergify.yml
  build.sbt
Due: none

Regenerate workflow
  .github/workflows/ci.yml
Due: none

Fix excludes
  .github/workflows/ci.yml
  .mergify.yml
  build.sbt
Due: none

deploy: 2e70f503420563a8eb84cf1704f2308edaa4d2ca
  api/index.html
  customization.html
  faq.html
  gha.html
  index.html
  secrets.html
  site.html
Due: none

deploy: 28ca81eb13e06a48fe382aa60713792a57acf075
  site.html
Due: none

Run scalafix before scalafmt in `prePR`
  core/src/main/scala/org/typelevel/sbt/TypelevelPlugin.scala
Due: Label core PRs

deploy: 92a7588379971772fc105f19d96151b9608ab42f
  api/index.html
  customization.html
  faq.html
  gha.html
  index.html
  secrets.html
  site.html
Due: none

Add @satabin as a contributor
  .all-contributorsrc
  README.md
Due: none

deploy: a5a18206ac9fe8e8a35311e4bf9f0584811855a2
  site.html
Due: none

Remove CODE_OF_CONDUCT, use org default [ci skip]
  CODE_OF_CONDUCT.md
Due: none

deploy: 9014e540b142b9dbd1d0590444e56734f3a8a838
  faq.html
  site.html
Due: none

site plugin - remove deprecated settings and classes
  site/src/main/scala/org/typelevel/sbt/TypelevelSitePlugin.scala
  site/src/main/scala/org/typelevel/sbt/site/GenericSiteSettings.scala
  site/src/main/scala/org/typelevel/sbt/site/TypelevelHeliumExtensions.scala
Due: Label site PRs

TypelevelSiteSettings - deprecate top level color properties
  site/src/main/scala/org/typelevel/sbt/site/TypelevelSiteSettings.scala
Due: Label site PRs

set tlBaseVersion to 0.7
  build.sbt
Due: none

Bump base version
  build.sbt
Due: none

deploy: 39ec40b227939fb412411189ea7e17d82d74bee0
  site.html
Due: none

Path conditions:
  Label ci PRs: any of: ^ci/
  Label ci-release PRs: any of: ^ci-release/
  Label ci-signing PRs: any of: ^ci-signing/
  Label core PRs: any of: ^core/
  Label docs PRs: any of: ^docs/
  Label github PRs: any of: ^github/
  Label github-actions PRs: any of: ^github-actions/
  Label kernel PRs: any of: ^kernel/
  Label mdocs PRs: any of: ^mdocs/
  Label mergify PRs: any of: ^mergify/
  Label mima PRs: any of: ^mima/
  Label no-publish PRs: any of: ^no-publish/
  Label scalafix PRs: any of: ^scalafix/
  Label settings PRs: any of: ^settings/
  Label site PRs: any of: ^site/
  Label sonatype PRs: any of: ^sonatype/
  Label sonatype-ci-release PRs: any of: ^sonatype-ci-release/
  Label versioning PRs: any of: ^versioning/
