Repository typelevel/sbt-typelevel: changes, and which Mergify rules are due for each by the changed paths.
All: Label ci PRs, Label ci-release PRs, Label ci-signing PRs, Label core PRs, Label docs PRs, Label github PRs, Label github-actions PRs, Label kernel PRs, Label mdocs PRs, Label mergify PRs, Label mima PRs, Label no-publish PRs, Label scalafix PRs, Label settings PRs, Label site PRs, Label sonatype PRs, Label sonatype-ci-release PRs, Label versioning PRs

Label ci PRs:
  label:
    add:
    - ci
    remove: []

Label ci-release PRs:
  label:
    add:
    - ci-release
    remove: []

Label ci-signing PRs:
  label:
    add:
    - ci-signing
    remove: []

Label core PRs:
  label:
    add:
    - core
    remove: []

Label docs PRs:
  label:
    add:
    - docs
    remove: []

Label github PRs:
  label:
    add:
    - github
    remove: []

Label github-actions PRs:
  label:
    add:
    - github-actions
    remove: []

Label kernel PRs:
  label:
    add:
    - kernel
    remove: []

Label mdocs PRs:
  label:
    add:
    - mdocs
    remove: []

Label mergify PRs:
  label:
    add:
    - mergify
    remove: []

Label mima PRs:
  label:
    add:
    - mima
    remove: []

Label no-publish PRs:
  label:
    add:
    - no-publish
    remove: []

Label scalafix PRs:
  label:
    add:
    - scalafix
    remove: []

Label settings PRs:
  label:
    add:
    - settings
    remove: []

Label site PRs:
  label:
    add:
    - site
    remove: []

Label sonatype PRs:
  label:
    add:
    - sonatype
    remove: []

Label sonatype-ci-release PRs:
  label:
    add:
    - sonatype-ci-release
    remove: []

Label versioning PRs:
  label:
    add:
    - versioning
    remove: []

Cross build no-publish plugin.
  build.sbt
Due: none

Cross-build unidoc plugin.
  build.sbt
Due: none

Cross build sonatype-ci-release plugin.
  build.sbt
Due: none

Cross build sonatype plugin.
  build.sbt
Due: none

Cross build versioning plugin.
  build.sbt
  versioning/src/main/scala/org/typelevel/sbt/TypelevelVersioningPlugin.scala
Due: Label versioning PRs

Cross build github-actions plugin.
  build.sbt
  github-actions/src/main/scala/org/typelevel/sbt/gha/GenerativePlugin.scala
  github-actions/src/main/scala/org/typelevel/sbt/gha/WorkflowStep.scala
Due: Label github-actions PRs

Cross build kernel plugin.
  build.sbt
  kernel/build.sbt
  kernel/src/main/scala/org/typelevel/sbt/TypelevelKernelPlugin.scala
  project/kernel.sbt
Due: Label kernel PRs

Cross build ci plugin.
  build.sbt
  ci/src/main/scala-2.12/org/typelevel/sbt/CrossRootProjectMacros.scala
  ci/src/main/scala-3/org/typelevel/sbt/CrossRootProjectMacros.scala
  ci/src/main/scala/org/typelevel/sbt/CrossRootProject.scala
  ci/src/main/scala/org/typelevel/sbt/TypelevelCiPlugin.scala
Due: Label ci PRs

Cross-build scalafix plugin.
  build.sbt
  scalafix/build.sbt
  scalafix/src/main/scala-2.12/org/typelevel/sbt/ScalafixProjectMacros.scala
  scalafix/src/main/scala-3/org/typelevel/sbt/ScalafixProjectMacros.scala
  scalafix/src/main/scala/org/typelevel/sbt/ScalafixProject.scala
  scalafix/src/main/scala/org/typelevel/sbt/TypelevelScalafixPlugin.scala
Due: Label scalafix PRs

Update to ubuntu-24.04
  .github/workflows/ci.yml
  .mergify.yml
  github-actions/src/main/scala/org/typelevel/sbt/gha/GenerativeKeys.scala
  github-actions/src/main/scala/org/typelevel/sbt/gha/GenerativePlugin.scala
  github-actions/src/main/scala/org/typelevel/sbt/gha/WorkflowJob.scala
Due: Label github-actions PRs

Update mima url
  README.md
  build.sbt
  docs/index.md
Due: Label docs PRs

Cross build mima plugin.
  build.sbt
  mima/src/main/scala/org/typelevel/sbt/TypelevelMimaPlugin.scala
Due: Label mima PRs

Add sbt2 aggregate module for local publishing.
  build.sbt
Due: none

Specify scala-2.12 directory as part of project build sources.
  project/build.sbt
Due: none

Cross build github-actions plugin.
  build.sbt
  github-actions/build.sbt
  github-actions/src/main/scala-2.12/org/typelevel/sbt/gha/PluginCompat.scala
  github-actions/src/main/scala-3/org/typelevel/sbt/gha/PluginCompat.scala
  github-actions/src/main/scala/org/typelevel/sbt/gha/GenerativePlugin.scala
  github-actions/src/main/scala/org/typelevel/sbt/gha/GitHubActionsPlugin.scala
  github-actions/src/main/scala/org/typelevel/sbt/gha/WorkflowStep.scala
Due: Label github-actions PRs

Cross build github plugin.
  build.sbt
  github/build.sbt
  github/src/main/scala/org/typelevel/sbt/TypelevelGitHubPlugin.scala
  github/src/main/scala/org/typelevel/sbt/TypelevelScalaJSGitHubPlugin.scala
Due: Label github PRs

Cross build mergify plugin.
  build.sbt
  mergify/build.sbt
  mergify/src/main/scala/org/typelevel/sbt/mergify/MergifyAction.scala
  mergify/src/main/scala/org/typelevel/sbt/mergify/MergifyCondition.scala
  mergify/src/main/scala/org/typelevel/sbt/mergify/MergifyPlugin.scala
Due: Label mergify PRs

Cross build settings plugin.
  build.sbt
  settings/build.sbt
  settings/src/main/scala/org/typelevel/sbt/TypelevelSettingsPlugin.scala
Due: Label settings PRs

Replace cross project with project matrix.
  .github/workflows/ci.yml
  build.sbt
  ci/build.sbt
  ci/src/main/scala/org/typelevel/sbt/CrossRootProject.scala
  core/build.sbt
  core/src/main/scala/org/typelevel/sbt/TypelevelBspPlugin.scala
  github-actions/src/main/scala/org/typelevel/sbt/gha/GenerativePlugin.scala
  github-actions/src/main/scala/org/typelevel/sbt/gha/WorkflowJob.scala
  mergify/src/main/scala/org/typelevel/sbt/mergify/MergifyPlugin.scala
  project/build.sbt
  settings/build.sbt
  settings/src/main/scala/org/typelevel/sbt/TypelevelSettingsPlugin.scala
Due: Label ci PRs, Label core PRs, Label github-actions PRs, Label mergify PRs, Label settings PRs

Path conditions:
  Label ci PRs: any of: ^ci/
  Label ci-release PRs: any of: ^ci-release/
  Label ci-signing PRs: any of: ^ci-signing/
  Label core PRs: any of: ^core/
  Label docs PRs: any of: ^docs/
  Label github PRs: any of: ^github/
  Label github-actions PRs: any of: ^github-actions/
  Label kernel PRs: any of: ^kernel/
  Label mdocs PRs: any of: ^mdocs/
  Label mergify PRs: any of: ^mergify/
  Label mima PRs: any of: ^mima/
  Label no-publish PRs: any of: ^no-publish/
  Label scalafix PRs: any of: ^scalafix/
  Label settings PRs: any of: ^settings/
  Label site PRs: any of: ^site/
  Label sonatype PRs: any of: ^sonatype/
  Label sonatype-ci-release PRs: any of: ^sonatype-ci-release/
  Label versioning PRs: any of: ^versioning/
