Repository typelevel/sbt-typelevel: changes, and which Mergify rules are due for each by the changed paths.
All: Label ci PRs, Label ci-release PRs, Label ci-signing PRs, Label core PRs, Label docs PRs, Label github PRs, Label github-actions PRs, Label kernel PRs, Label mdocs PRs, Label mergify PRs, Label mima PRs, Label no-publish PRs, Label scalafix PRs, Label settings PRs, Label site PRs, Label sonatype PRs, Label sonatype-ci-release PRs, Label unidoc PRs, Label versioning PRs

Label ci PRs:
  label:
    add:
    - ci
    remove: []

Label ci-release PRs:
  label:
    add:
    - ci-release
    remove: []

Label ci-signing PRs:
  label:
    add:
    - ci-signing
    remove: []

Label core PRs:
  label:
    add:
    - core
    remove: []

Label docs PRs:
  label:
    add:
    - docs
    remove: []

Label github PRs:
  label:
    add:
    - github
    remove: []

Label github-actions PRs:
  label:
    add:
    - github-actions
    remove: []

Label kernel PRs:
  label:
    add:
    - kernel
    remove: []

Label mdocs PRs:
  label:
    add:
    - mdocs
    remove: []

Label mergify PRs:
  label:
    add:
    - mergify
    remove: []

Label mima PRs:
  label:
    add:
    - mima
    remove: []

Label no-publish PRs:
  label:
    add:
    - no-publish
    remove: []

Label scalafix PRs:
  label:
    add:
    - scalafix
    remove: []

Label settings PRs:
  label:
    add:
    - settings
    remove: []

Label site PRs:
  label:
    add:
    - site
    remove: []

Label sonatype PRs:
  label:
    add:
    - sonatype
    remove: []

Label sonatype-ci-release PRs:
  label:
    add:
    - sonatype-ci-release
    remove: []

Label unidoc PRs:
  label:
    add:
    - unidoc
    remove: []

Label versioning PRs:
  label:
    add:
    - versioning
    remove: []

Use workflow OSes for publish job
  github-actions/src/main/scala/org/typelevel/sbt/gha/GenerativePlugin.scala
Due: Label github-actions PRs

deploy: cedbed34d087ac2a0f24112eaa5f128c906deae0
  site.html
Due: none

Clarify that site plugin can be used stand-alone
  docs/site.md
Due: Label docs PRs

deploy: 8b5da3fc9e4c924104d32b77fd5182d598f30612
  site.html
Due: none

site - update to Laika 0.19 + fix compiler errors + warnings
  site/build.sbt
  site/src/main/scala/org/typelevel/sbt/TypelevelSitePlugin.scala
  site/src/main/scala/org/typelevel/sbt/site/ThemeProviderOps.scala
  site/src/main/scala/org/typelevel/sbt/site/TypelevelHeliumExtensions.scala
Due: Label site PRs

site - use new buildPreviewServer task instead of copied code
  site/src/main/scala/org/typelevel/sbt/TypelevelSitePlugin.scala
Due: Label site PRs

Directly run `githubWorkflowCheck`
  .github/workflows/ci.yml
  github-actions/src/main/scala/org/typelevel/sbt/gha/GenerativePlugin.scala
Due: Label github-actions PRs

deploy: 6420590e070238685d5e8c1769b781bf65b469b5
  site.html
Due: none

Use `tlJdkRelease` for JDK api mappings
  settings/src/main/scala/org/typelevel/sbt/TypelevelSettingsPlugin.scala
Due: Label settings PRs

Set CI JDK via `tlJdkRelease` setting
  core/src/main/scala/org/typelevel/sbt/TypelevelPlugin.scala
Due: Label core PRs

site - use new ThemeProvider.extendWith and remove old implementation
  site/src/main/scala/org/typelevel/sbt/TypelevelSitePlugin.scala
  site/src/main/scala/org/typelevel/sbt/site/ThemeProviderOps.scala
Due: Label site PRs

site - use new Helium footer config to avoid custom templates
  site/src/main/scala/org/typelevel/sbt/TypelevelSitePlugin.scala
Due: Label site PRs

site - use new Helium main nav config f. related projects
  site/src/main/scala/org/typelevel/sbt/TypelevelSitePlugin.scala
Due: Label site PRs

site - remove custom Helium template
  site/src/main/resources/org/typelevel/sbt/site/helium/default.template.html
  site/src/main/scala/org/typelevel/sbt/TypelevelSitePlugin.scala
  site/src/main/scala/org/typelevel/sbt/site/TypelevelHeliumExtensions.scala
Due: Label site PRs

site - remove obsolete svg-link CSS class
  site/src/main/scala/org/typelevel/sbt/TypelevelSitePlugin.scala
Due: Label site PRs

deploy: deacd745b8ed5a60ddab0b63d4f43137f80951df
  site.html
Due: none

deploy: 5643503658f627d012546e6544d930c71d1ba240
  site.html
Due: none

site - remove custom CSS
  site/src/main/resources/org/typelevel/sbt/site/helium/site/styles.css
  site/src/main/scala/org/typelevel/sbt/site/TypelevelHeliumExtensions.scala
Due: Label site PRs

site - don't repeat config values using defaults
  site/build.sbt
  site/src/main/scala/org/typelevel/sbt/TypelevelSitePlugin.scala
Due: Label site PRs

deploy: 73ecc0e8cd562ca8f278157537bb2d1369ce437a
  api/index.html
  customization.html
  faq.html
  gha.html
  index.html
  secrets.html
  site.html
Due: none

Regenerate workflow
  .github/workflows/ci.yml
  .mergify.yml
Due: none

deploy: 2d044e40474cb1ac94d5c446577e541c59ff743a
  site.html
Due: none

deploy: b4e9dedcee3828d94d23e110bb8f6158329adae5
  site.html
Due: none

site - separate default settings for typelevel projects
  site/build.sbt
  site/src/main/scala/org/typelevel/sbt/TypelevelSitePlugin.scala
  site/src/main/scala/org/typelevel/sbt/site/GenericSiteSettings.scala
  site/src/main/scala/org/typelevel/sbt/site/TypelevelHeliumExtensions.scala
  site/src/main/scala/org/typelevel/sbt/site/TypelevelSiteSettings.scala
Due: Label site PRs

site - expand documentation
  docs/site.md
Due: Label docs PRs

site - set dependency to Laika 0.19.0-RC1
  site/build.sbt
Due: Label site PRs

site - set new tlSiteIsTypelevelProject flag for plugin's own build
  build.sbt
Due: none

site - revert to Scala 2 import syntax
  site/src/main/scala/org/typelevel/sbt/TypelevelSitePlugin.scala
  site/src/main/scala/org/typelevel/sbt/site/GenericSiteSettings.scala
  site/src/main/scala/org/typelevel/sbt/site/TypelevelSiteSettings.scala
Due: Label site PRs

Update docs/site.md
  docs/site.md
Due: Label docs PRs

Update site/src/main/scala/org/typelevel/sbt/TypelevelSitePlugin.scala
  site/src/main/scala/org/typelevel/sbt/TypelevelSitePlugin.scala
Due: Label site PRs

Update site/src/main/scala/org/typelevel/sbt/site/TypelevelHeliumExtensions.scala
  site/src/main/scala/org/typelevel/sbt/site/TypelevelHeliumExtensions.scala
Due: Label site PRs

Do not use deprecated `-target` option on 2.13.9+
  settings/src/main/scala/org/typelevel/sbt/TypelevelSettingsPlugin.scala
Due: Label settings PRs

deploy: e1d32a35a1887a044584ad934326ab48a6ab10f2
  api/index.html
  customization.html
  faq.html
  gha.html
  index.html
  secrets.html
  site.html
Due: none

Revert "Update sbt to 1.7.2"
  project/build.properties
Due: none

Revert "Update mdoc, sbt-mdoc to 2.3.6"
  site/build.sbt
Due: Label site PRs

deploy: 62fc92403cc285169a1f1357421ef057bfc21239
  site.html
Due: none

deploy: 11b6df710688dfdb8295d6694c04e8135f602b63
  site.html
Due: none

deploy: c2bee6580e1cabc1d320e9516be5502b569b8293
  api/index.html
  customization.html
  faq.html
  gha.html
  index.html
  secrets.html
  site.html
Due: none

Use new setup-graalvm action
  .github/workflows/ci.yml
  .mergify.yml
  build.sbt
  github-actions/src/main/scala/org/typelevel/sbt/gha/WorkflowStep.scala
Due: Label github-actions PRs

Disable publishing-related steps in CI plugin
  ci-release/src/main/scala/org/typelevel/sbt/TypelevelCiReleasePlugin.scala
  ci/build.sbt
  ci/src/main/scala/org/typelevel/sbt/TypelevelCiPlugin.scala
  project/ci.sbt
Due: Label ci PRs, Label ci-release PRs

Path conditions:
  Label ci PRs: any of: ^ci/
  Label ci-release PRs: any of: ^ci-release/
  Label ci-signing PRs: any of: ^ci-signing/
  Label core PRs: any of: ^core/
  Label docs PRs: any of: ^docs/
  Label github PRs: any of: ^github/
  Label github-actions PRs: any of: ^github-actions/
  Label kernel PRs: any of: ^kernel/
  Label mdocs PRs: any of: ^mdocs/
  Label mergify PRs: any of: ^mergify/
  Label mima PRs: any of: ^mima/
  Label no-publish PRs: any of: ^no-publish/
  Label scalafix PRs: any of: ^scalafix/
  Label settings PRs: any of: ^settings/
  Label site PRs: any of: ^site/
  Label sonatype PRs: any of: ^sonatype/
  Label sonatype-ci-release PRs: any of: ^sonatype-ci-release/
  Label unidoc PRs: any of: ^unidoc/
  Label versioning PRs: any of: ^versioning/
