Repository typelevel/sbt-typelevel: changes, and which Mergify rules are due for each by the changed paths.
All: Label ci PRs, Label ci-release PRs, Label ci-signing PRs, Label core PRs, Label docs PRs, Label github PRs, Label github-actions PRs, Label kernel PRs, Label mdocs PRs, Label mergify PRs, Label mima PRs, Label no-publish PRs, Label scalafix PRs, Label settings PRs, Label site PRs, Label sonatype PRs, Label sonatype-ci-release PRs, Label versioning PRs

Label ci PRs:
  label:
    add:
    - ci
    remove: []

Label ci-release PRs:
  label:
    add:
    - ci-release
    remove: []

Label ci-signing PRs:
  label:
    add:
    - ci-signing
    remove: []

Label core PRs:
  label:
    add:
    - core
    remove: []

Label docs PRs:
  label:
    add:
    - docs
    remove: []

Label github PRs:
  label:
    add:
    - github
    remove: []

Label github-actions PRs:
  label:
    add:
    - github-actions
    remove: []

Label kernel PRs:
  label:
    add:
    - kernel
    remove: []

Label mdocs PRs:
  label:
    add:
    - mdocs
    remove: []

Label mergify PRs:
  label:
    add:
    - mergify
    remove: []

Label mima PRs:
  label:
    add:
    - mima
    remove: []

Label no-publish PRs:
  label:
    add:
    - no-publish
    remove: []

Label scalafix PRs:
  label:
    add:
    - scalafix
    remove: []

Label settings PRs:
  label:
    add:
    - settings
    remove: []

Label site PRs:
  label:
    add:
    - site
    remove: []

Label sonatype PRs:
  label:
    add:
    - sonatype
    remove: []

Label sonatype-ci-release PRs:
  label:
    add:
    - sonatype-ci-release
    remove: []

Label versioning PRs:
  label:
    add:
    - versioning
    remove: []

`cat=scala3-migration` only exists in 2.13.12+
  settings/src/main/scala/org/typelevel/sbt/TypelevelSettingsPlugin.scala
Due: Label settings PRs

deploy: fb35102703f25aacd01e5770a1f6dad7222913b4
  api/index.html
  customization.html
  faq.html
  gha.html
  helium/laika-helium.css
  index.html
  secrets.html
  site.html
Due: none

Added version bound check and added slash
  github/src/main/scala/org/typelevel/sbt/TypelevelGitHubPlugin.scala
Due: Label github PRs

deploy: 446121175978324a7606c51486616a3baec2a469
  site.html
Due: none

Support customizing publish job `needs`
  .github/workflows/ci.yml
  build.sbt
  github-actions/src/main/scala/org/typelevel/sbt/gha/GenerativeKeys.scala
  github-actions/src/main/scala/org/typelevel/sbt/gha/GenerativePlugin.scala
Due: Label github-actions PRs

Update github/src/main/scala/org/typelevel/sbt/TypelevelGitHubPlugin.scala
  github/src/main/scala/org/typelevel/sbt/TypelevelGitHubPlugin.scala
Due: Label github PRs

deploy: ba54cef083904094f892fd2b9b4871ebcc0c6bfe
  site.html
Due: none

deploy: 66ccffaf469513c734c7be9658f6ce66df8770d8
  site.html
Due: none

deploy: 5dec904d36c0b2cceb3f18b9ed7323ad849614a4
  site.html
Due: none

migrate to Laika 1.0 (using a snapshot very close to M5 here)
  site/build.sbt
  site/src/main/scala/org/typelevel/sbt/site/GenericSiteSettings.scala
  site/src/main/scala/org/typelevel/sbt/site/TypelevelHeliumExtensions.scala
Due: Label site PRs

switch to Laika 1.0.0-M5
  site/build.sbt
Due: Label site PRs

address scalafix issue
  site/src/main/scala/org/typelevel/sbt/site/TypelevelHeliumExtensions.scala
Due: Label site PRs

bump base version
  build.sbt
Due: none

Glorious hack to fix key import on macOS runners
  ci-signing/src/main/scala/org/typelevel/sbt/TypelevelCiSigningPlugin.scala
Due: Label ci-signing PRs

Regenerate workflow
  .github/workflows/ci.yml
Due: none

deploy: 892e3623cba37c9c3dbd758daabe677e98a519f8
  api/index.html
  customization.html
  faq.html
  gha.html
  index.html
  secrets.html
  site.html
Due: none

use 1.0.0 final
  site/build.sbt
Due: Label site PRs

deploy: 025e93e2d5daa85d66d48ed23e82ffbe5597efb2
  api/index.html
  customization.html
  faq.html
  gha.html
  helium/site/icofont.min.css
  helium/site/laika-helium.css
  helium/site/laika-helium.js
  helium/site/landing-page.css
  index.html
  secrets.html
  site.html
Due: none

deploy: c3d8ce455ec9ff314155af16625688fdb9bd44e6
  site.html
Due: none

deploy: 2b5ca5d0c8f05cbd19affbefabaafe99c7e3acb1
  api/index.html
  customization.html
  faq.html
  gha.html
  index.html
  secrets.html
  site.html
Due: none

deploy: 076d867b216b295ce501e29f54b19c5f75ac1329
  site.html
Due: none

Enable command aliases to be defined via a setting
  core/src/main/scala/org/typelevel/sbt/TypelevelPlugin.scala
  kernel/src/main/scala/org/typelevel/sbt/TypelevelKernelPlugin.scala
Due: Label core PRs, Label kernel PRs

Update doc
  docs/customization.md
Due: Label docs PRs

Refactor internal uses of `addCommandAlias`
  kernel/src/main/scala/org/typelevel/sbt/TypelevelKernelPlugin.scala
  sonatype/src/main/scala/org/typelevel/sbt/TypelevelSonatypePlugin.scala
Due: Label kernel PRs, Label sonatype PRs

deploy: 5f2998e6b7c74258f90c9a90915cfffd4995830e
  site.html
Due: none

deploy: d2c50f718371c4b9d52f564b8049af5e43334379
  customization.html
  site.html
Due: none

rid of "compile-time" in favor of "provided"
  kernel/src/main/scala/org/typelevel/sbt/TypelevelKernelPlugin.scala
  settings/src/main/scala/org/typelevel/sbt/TypelevelSettingsPlugin.scala
Due: Label kernel PRs, Label settings PRs

restore "compile-time" keeping it deprecated
  kernel/src/main/scala/org/typelevel/sbt/TypelevelKernelPlugin.scala
Due: Label kernel PRs

deploy: 6a44e1f2f956b1568382ed033a3ccf2732bcf64b
  site.html
Due: none

Pin circe-yaml
  .scala-steward.conf
Due: none

More robust config of `unmanagedSourceDirectories`
  .github/workflows/ci.yml
  build.sbt
  project/build.sbt
  project/settings.sbt
  settings/jvm/build.sbt
  settings/jvm/src/main/scala-2.12-/org/typelevel/sbt/TypelevelSettingsPlugin.scala
Due: Label settings PRs

Use Temurin 17 as default JDK
  .github/workflows/ci.yml
  .mergify.yml
  build.sbt
Due: none

Revert "Use Temurin 17 as default JDK"
  .github/workflows/ci.yml
  .mergify.yml
  build.sbt
Due: none

Expose `tlSiteJavaVersion`, auto-config to JDK 11+
  .github/workflows/ci.yml
  .mergify.yml
  docs/customization.md
  site/src/main/scala/org/typelevel/sbt/TypelevelSitePlugin.scala
Due: Label docs PRs, Label site PRs

`lift(0)` -> `headOption`
  site/src/main/scala/org/typelevel/sbt/TypelevelSitePlugin.scala
Due: Label site PRs

deploy: 1f41bce7ae5ce0db9284ca017b7d05ab512cda2c
  api/index.html
  customization.html
  faq.html
  gha.html
  index.html
  secrets.html
  site.html
Due: none

deploy: 71162742fb6a4eb6e61462c629d4d8293472eeeb
  site.html
Due: none

deploy: fd23c920c8df5df668b227c0099cf94513ee239b
  site.html
Due: none

Improve tlSitePreview's console output
  site/src/main/scala/org/typelevel/sbt/TypelevelSitePlugin.scala
Due: Label site PRs

Use baseUri for preview server
  site/src/main/scala/org/typelevel/sbt/TypelevelSitePlugin.scala
Due: Label site PRs

Path conditions:
  Label ci PRs: any of: ^ci/
  Label ci-release PRs: any of: ^ci-release/
  Label ci-signing PRs: any of: ^ci-signing/
  Label core PRs: any of: ^core/
  Label docs PRs: any of: ^docs/
  Label github PRs: any of: ^github/
  Label github-actions PRs: any of: ^github-actions/
  Label kernel PRs: any of: ^kernel/
  Label mdocs PRs: any of: ^mdocs/
  Label mergify PRs: any of: ^mergify/
  Label mima PRs: any of: ^mima/
  Label no-publish PRs: any of: ^no-publish/
  Label scalafix PRs: any of: ^scalafix/
  Label settings PRs: any of: ^settings/
  Label site PRs: any of: ^site/
  Label sonatype PRs: any of: ^sonatype/
  Label sonatype-ci-release PRs: any of: ^sonatype-ci-release/
  Label versioning PRs: any of: ^versioning/
