Repository typelevel/sbt-typelevel: changes, and which Mergify rules are due for each by the changed paths.
All: Label ci PRs, Label ci-release PRs, Label ci-signing PRs, Label core PRs, Label docs PRs, Label github PRs, Label github-actions PRs, Label kernel PRs, Label mdocs PRs, Label mergify PRs, Label mima PRs, Label no-publish PRs, Label scalafix PRs, Label settings PRs, Label site PRs, Label sonatype PRs, Label sonatype-ci-release PRs, Label versioning PRs

Path conditions:
  Label ci PRs: any of: ^ci/
  Label ci-release PRs: any of: ^ci-release/
  Label ci-signing PRs: any of: ^ci-signing/
  Label core PRs: any of: ^core/
  Label docs PRs: any of: ^docs/
  Label github PRs: any of: ^github/
  Label github-actions PRs: any of: ^github-actions/
  Label kernel PRs: any of: ^kernel/
  Label mdocs PRs: any of: ^mdocs/
  Label mergify PRs: any of: ^mergify/
  Label mima PRs: any of: ^mima/
  Label no-publish PRs: any of: ^no-publish/
  Label scalafix PRs: any of: ^scalafix/
  Label settings PRs: any of: ^settings/
  Label site PRs: any of: ^site/
  Label sonatype PRs: any of: ^sonatype/
  Label sonatype-ci-release PRs: any of: ^sonatype-ci-release/
  Label versioning PRs: any of: ^versioning/

Add tests for ordering of versions
  kernel/src/test/scala/org/typelevel/sbt/kernel/VSuite.scala
Due: Label kernel PRs

And now make test pass
  kernel/src/test/scala/org/typelevel/sbt/kernel/VSuite.scala
Due: Label kernel PRs

Enhance prerelease order test
  kernel/src/test/scala/org/typelevel/sbt/kernel/VSuite.scala
Due: Label kernel PRs

Scalafmt
  kernel/src/test/scala/org/typelevel/sbt/kernel/VSuite.scala
Due: Label kernel PRs

deploy: 3b1b369ebcc5b84132ff60e2d3a47f816e2fb5a9
  site.html
Due: none

deploy: 3f3c7fe72fcca89e055cb3f5580899e723309c9c
  site.html
Due: none

deploy: 0752dc0b42c3480678c720dab3825f1f14079cb4
  site.html
Due: none

deploy: 814f0a3330e96377f91d620658f5f512ae84ee41
  site.html
Due: none

deploy: 4aa0460bcc759c47bddef7038da91241f80fa405
  site.html
Due: none

Address the review comments
  .gitignore
  docs/gha.md
  github-actions/src/main/scala/org/typelevel/sbt/gha/GenerativeKeys.scala
Due: Label docs PRs, Label github-actions PRs

Upgrade from sbt 1.9.x to 1.10.x
  .scala-steward.conf
  project/build.properties
Due: none

ignore calls to the deprecated `Command.process` method. The alternative only got introduce in sbt 1.9.4
  sonatype-ci-release/src/main/scala/org/typelevel/sbt/TypelevelSonatypeCiReleasePlugin.scala
  sonatype/src/main/scala/org/typelevel/sbt/TypelevelSonatypePlugin.scala
Due: Label sonatype PRs, Label sonatype-ci-release PRs

Use tlCiForkCondition in githubWorkflowAddedJobs
  ci/src/main/scala/org/typelevel/sbt/TypelevelCiPlugin.scala
Due: Label ci PRs

Add bincompat methods
  build.sbt
  github-actions/src/main/scala/org/typelevel/sbt/gha/GenerativePlugin.scala
  github-actions/src/main/scala/org/typelevel/sbt/gha/WorkflowStep.scala
Due: Label github-actions PRs

WIP: Sonatype Central publishing
  build.sbt
  core/src/main/scala/org/typelevel/sbt/TypelevelPlugin.scala
  docs/customization.md
  docs/faq.md
  docs/index.md
  docs/plugins.dot
  docs/secrets.md
  project/build.properties
  sonatype-ci-release/src/main/scala/org/typelevel/sbt/TypelevelSonatypeCiReleasePlugin.scala
  sonatype/build.sbt
  sonatype/src/main/scala/org/typelevel/sbt/TypelevelSonatypePlugin.scala
Due: Label core PRs, Label docs PRs, Label sonatype PRs, Label sonatype-ci-release PRs

Use non-deprecated Command.process
  sonatype-ci-release/src/main/scala/org/typelevel/sbt/TypelevelSonatypeCiReleasePlugin.scala
Due: Label sonatype-ci-release PRs

Apply prePR lints
  core/src/main/scala/org/typelevel/sbt/TypelevelPlugin.scala
  sonatype-ci-release/src/main/scala/org/typelevel/sbt/TypelevelSonatypeCiReleasePlugin.scala
  sonatype/src/main/scala/org/typelevel/sbt/TypelevelSonatypePlugin.scala
Due: Label core PRs, Label sonatype PRs, Label sonatype-ci-release PRs

Remove unused nowarn annotation
  sonatype-ci-release/src/main/scala/org/typelevel/sbt/TypelevelSonatypeCiReleasePlugin.scala
Due: Label sonatype-ci-release PRs

Reset default of sbtPluginPublishLegacyMavenStyle in Sonatype
  sonatype/src/main/scala/org/typelevel/sbt/TypelevelSonatypePlugin.scala
Due: Label sonatype PRs

Sonatype repositories API does not appear to be supported
  sonatype/src/main/scala/org/typelevel/sbt/TypelevelSonatypePlugin.scala
Due: Label sonatype PRs

tlSonatypeBundleReleaseIfRelevant is still relevant
  sonatype/src/main/scala/org/typelevel/sbt/TypelevelSonatypePlugin.scala
Due: Label sonatype PRs

Use fake javadoc host on snapshot releases
  sonatype/src/main/scala/org/typelevel/sbt/TypelevelSonatypePlugin.scala
Due: Label sonatype PRs

Grammar fix in secrets.md
  docs/secrets.md
Due: Label docs PRs

deploy: addd192b71b736b9a135bd28dccec8f8ba70f199
  customization.html
  faq.html
  index.html
  plugins.dot
  secrets.html
  site.html
Due: none

specify windows-2022 runner tag
  .github/workflows/ci.yml
  .mergify.yml
  build.sbt
Due: none

deploy: a63299fc93322896c25019f6f30eb18d443a7680
  site.html
Due: none

Update scala-native to 0.5 in mdocVariables task
  build.sbt
Due: none

update actions/setup-java and actions/checkout
  .github/workflows/ci.yml
  github-actions/src/main/scala/org/typelevel/sbt/gha/WorkflowStep.scala
Due: Label github-actions PRs

deploy: 7b8cae15d4f181b43ea85c0694ee5a4f684b9816
  faq.html
  site.html
Due: none

update the Scala Steward pin to a recent version This version is already in use as it is required for Sonatype Central publishing
  .scala-steward.conf
Due: none

update import for sbt-header
  core/src/main/scala/org/typelevel/sbt/TypelevelPlugin.scala
Due: Label core PRs

deploy: 6adb0579295b51e3b8b95cc417eaef715cb52c12
  site.html
Due: none

deploy: 92df61e355b908389a1a8e120b28f81edef4c569
  faq.html
  site.html
Due: none

deploy: e6266cc8f0251ab54378173ab2f56cf3e047548e
  site.html
Due: none

This plugin update requires a base version bump
  build.sbt
Due: none

Create a `Workflow` type to capture an entire workflow file.
  .github/workflows/clean.yml
  github-actions/src/main/resources/clean.yml
  github-actions/src/main/scala/org/typelevel/sbt/gha/GenerativeKeys.scala
  github-actions/src/main/scala/org/typelevel/sbt/gha/GenerativePlugin.scala
  github-actions/src/main/scala/org/typelevel/sbt/gha/Secrets.scala
  github-actions/src/main/scala/org/typelevel/sbt/gha/Workflow.scala
  github-actions/src/main/scala/org/typelevel/sbt/gha/WorkflowJob.scala
  github-actions/src/main/scala/org/typelevel/sbt/gha/WorkflowTrigger.scala
Due: Label github-actions PRs

Split out re-usable workflows for regular workflows
  ci/src/main/scala/org/typelevel/sbt/TypelevelCiPlugin.scala
  github-actions/src/main/scala/org/typelevel/sbt/gha/GenerativePlugin.scala
  github-actions/src/main/scala/org/typelevel/sbt/gha/WorkflowJob.scala
  mergify/src/main/scala/org/typelevel/sbt/mergify/MergifyPlugin.scala
  site/src/main/scala/org/typelevel/sbt/TypelevelSitePlugin.scala
Due: Label ci PRs, Label github-actions PRs, Label mergify PRs, Label site PRs

matrix
  github-actions/src/main/scala/org/typelevel/sbt/gha/GenerativePlugin.scala
Due: Label github-actions PRs

Add needs
  github-actions/src/main/scala/org/typelevel/sbt/gha/GenerativePlugin.scala
  github-actions/src/main/scala/org/typelevel/sbt/gha/WorkflowJob.scala
Due: Label github-actions PRs

Bin friendlier Triggers, added Workflow Call
  github-actions/src/main/scala/org/typelevel/sbt/gha/GenerativeKeys.scala
  github-actions/src/main/scala/org/typelevel/sbt/gha/GenerativePlugin.scala
  github-actions/src/main/scala/org/typelevel/sbt/gha/WorkflowTrigger.scala
Due: Label github-actions PRs
