Repository typelevel/sbt-typelevel: changes, and which Mergify rules are due for each by the changed paths.
All: Label ci PRs, Label ci-release PRs, Label ci-signing PRs, Label core PRs, Label docs PRs, Label github PRs, Label github-actions PRs, Label kernel PRs, Label mdocs PRs, Label mergify PRs, Label mima PRs, Label no-publish PRs, Label scalafix PRs, Label settings PRs, Label site PRs, Label sonatype PRs, Label sonatype-ci-release PRs, Label versioning PRs

Path conditions:
  Label ci PRs: any of: ^ci/
  Label ci-release PRs: any of: ^ci-release/
  Label ci-signing PRs: any of: ^ci-signing/
  Label core PRs: any of: ^core/
  Label docs PRs: any of: ^docs/
  Label github PRs: any of: ^github/
  Label github-actions PRs: any of: ^github-actions/
  Label kernel PRs: any of: ^kernel/
  Label mdocs PRs: any of: ^mdocs/
  Label mergify PRs: any of: ^mergify/
  Label mima PRs: any of: ^mima/
  Label no-publish PRs: any of: ^no-publish/
  Label scalafix PRs: any of: ^scalafix/
  Label settings PRs: any of: ^settings/
  Label site PRs: any of: ^site/
  Label sonatype PRs: any of: ^sonatype/
  Label sonatype-ci-release PRs: any of: ^sonatype-ci-release/
  Label versioning PRs: any of: ^versioning/

deploy: 06669cacf3d196b8239cc0e660fcb61ade5a84d2
  site.html
Due: none

Use stable option for kind-projector in 3.5+
  settings/src/main/scala/org/typelevel/sbt/TypelevelSettingsPlugin.scala
Due: Label settings PRs

deploy: 04886b31a5c6ff489dc803cd33f1ff84bae50c95
  site.html
Due: none

deploy: 775bcd28bc45dab2dd7c8b6c13cf0b95e4c9c148
  site.html
Due: none

Fallback on other repos
  ci/src/main/scala/org/typelevel/sbt/TypelevelCiPlugin.scala
  github-actions/src/main/scala/org/typelevel/sbt/gha/GitHubActionsPlugin.scala
  sonatype-ci-release/src/main/scala/org/typelevel/sbt/TypelevelSonatypeCiReleasePlugin.scala
Due: Label ci PRs, Label github-actions PRs, Label sonatype-ci-release PRs

deploy: 9f37b1ea2a9d930918d5f8b40e5f764c96239fb3
  api/index.html
  customization.html
  faq.html
  gha.html
  index.html
  secrets.html
  site.html
Due: none

Return _something_
  sonatype-ci-release/src/main/scala/org/typelevel/sbt/TypelevelSonatypeCiReleasePlugin.scala
Due: Label sonatype-ci-release PRs

Use URLRepository directly
  sonatype-ci-release/src/main/scala/org/typelevel/sbt/TypelevelSonatypeCiReleasePlugin.scala
Due: Label sonatype-ci-release PRs

deploy: a0a32fc3a82b01902f78d087d4a429f44a9f8057
  site.html
Due: none

deploy: ce3d86edeb1ced11b6a0a92a07576ab2197d7f58
  site.html
Due: none

Add tlCiIsFork setting
  ci/src/main/scala/org/typelevel/sbt/TypelevelCiPlugin.scala
  docs/customization.md
Due: Label ci PRs, Label docs PRs

Tweak the dependency-submission job condition
  ci/src/main/scala/org/typelevel/sbt/TypelevelCiPlugin.scala
Due: Label ci PRs

Regenerate ci.yml
  .github/workflows/ci.yml
Due: none

deploy: 626ef87136e03ef04b0172ca01d64b4ece698a7d
  site.html
Due: none

Set `sonatypeCredentialHost` at build-level
  sonatype/src/main/scala/org/typelevel/sbt/TypelevelSonatypePlugin.scala
Due: Label sonatype PRs

deploy: 17ac90924bfc505f194b986d6f6b462fb083ad7d
  site.html
Due: none

Add `with*` methods for WorkflowJob
  github-actions/src/main/scala/org/typelevel/sbt/gha/WorkflowJob.scala
Due: Label github-actions PRs

Add mima overrides for new with* methods on WorkflowJob
  github-actions/mima.sbt
Due: Label github-actions PRs

Improved prePR
  core/src/main/scala/org/typelevel/sbt/TypelevelPlugin.scala
  kernel/src/main/scala/org/typelevel/sbt/TypelevelKernelPlugin.scala
Due: Label core PRs, Label kernel PRs

Add mima
  core/src/main/scala/org/typelevel/sbt/TypelevelPlugin.scala
Due: Label core PRs

deploy: e1d4e6d15dd8b45d4c6cf84abe2ba0a8e8566aec
  site.html
Due: none

Changed prePR defaults back to original
  core/src/main/scala/org/typelevel/sbt/TypelevelPlugin.scala
Due: Label core PRs

deploy: 47bb6564aa064893666612f2c2436dcfb3b7e78c
  site.html
Due: none

Add more `with*`, `update*`, and `add*` for Workflow step and jobs.
  github-actions/src/main/scala/org/typelevel/sbt/gha/WorkflowJob.scala
  github-actions/src/main/scala/org/typelevel/sbt/gha/WorkflowStep.scala
Due: Label github-actions PRs

remove unused val
  core/src/main/scala/org/typelevel/sbt/TypelevelPlugin.scala
Due: Label core PRs

Update mima filters
  github-actions/mima.sbt
Due: Label github-actions PRs

Change name of update* and add* to updated* and append*
  github-actions/src/main/scala/org/typelevel/sbt/gha/WorkflowJob.scala
  github-actions/src/main/scala/org/typelevel/sbt/gha/WorkflowStep.scala
Due: Label github-actions PRs

update mima
  github-actions/mima.sbt
Due: Label github-actions PRs

Simplify mima filters, go back to 'add' from 'append' on Map fields.
  github-actions/mima.sbt
  github-actions/src/main/scala/org/typelevel/sbt/gha/WorkflowStep.scala
Due: Label github-actions PRs

deploy: 56c01291515c02eed85161b2f6327a8224a5a4c4
  site.html
Due: none

Change verbs, add more methods
  github-actions/src/main/scala/org/typelevel/sbt/gha/WorkflowJob.scala
  github-actions/src/main/scala/org/typelevel/sbt/gha/WorkflowStep.scala
Due: Label github-actions PRs

Apply suggestions from code review
  github-actions/src/main/scala/org/typelevel/sbt/gha/WorkflowJob.scala
Due: Label github-actions PRs

deploy: e3849909cfa076127be6fddb504827dad1facb0e
  site.html
Due: none

deploy: ecd1d02a063eaae37a3a657ec90ee117f3fe654b
  site.html
Due: none

Update contributors
  .all-contributorsrc
  README.md
Due: none

deploy: 7850a9b69e4da3adc0e73ff62649ce4371858fea
  site.html
Due: none

WIP: skip -SNAPSHOT suffix if publishing to new portal
  versioning/src/main/scala/org/typelevel/sbt/TypelevelVersioningPlugin.scala
Due: Label versioning PRs

Disable CI snapshots if publshing to Central host
  core/src/main/scala/org/typelevel/sbt/TypelevelPlugin.scala
Due: Label core PRs

Tweak the dependency-submission job condition
  ci/src/main/scala/org/typelevel/sbt/TypelevelCiPlugin.scala
  docs/customization.md
Due: Label ci PRs, Label docs PRs
