Repository typelevel/sbt-typelevel: changes, and which Mergify rules are due for each by the changed paths.
All: Label ci PRs, Label ci-release PRs, Label ci-signing PRs, Label core PRs, Label docs PRs, Label github PRs, Label github-actions PRs, Label kernel PRs, Label mdocs PRs, Label mergify PRs, Label mima PRs, Label no-publish PRs, Label scalafix PRs, Label settings PRs, Label site PRs, Label sonatype PRs, Label sonatype-ci-release PRs, Label versioning PRs

Label ci PRs:
  label:
    add:
    - ci
    remove: []

Label ci-release PRs:
  label:
    add:
    - ci-release
    remove: []

Label ci-signing PRs:
  label:
    add:
    - ci-signing
    remove: []

Label core PRs:
  label:
    add:
    - core
    remove: []

Label docs PRs:
  label:
    add:
    - docs
    remove: []

Label github PRs:
  label:
    add:
    - github
    remove: []

Label github-actions PRs:
  label:
    add:
    - github-actions
    remove: []

Label kernel PRs:
  label:
    add:
    - kernel
    remove: []

Label mdocs PRs:
  label:
    add:
    - mdocs
    remove: []

Label mergify PRs:
  label:
    add:
    - mergify
    remove: []

Label mima PRs:
  label:
    add:
    - mima
    remove: []

Label no-publish PRs:
  label:
    add:
    - no-publish
    remove: []

Label scalafix PRs:
  label:
    add:
    - scalafix
    remove: []

Label settings PRs:
  label:
    add:
    - settings
    remove: []

Label site PRs:
  label:
    add:
    - site
    remove: []

Label sonatype PRs:
  label:
    add:
    - sonatype
    remove: []

Label sonatype-ci-release PRs:
  label:
    add:
    - sonatype-ci-release
    remove: []

Label versioning PRs:
  label:
    add:
    - versioning
    remove: []

deploy: dcc9cba55c5b55654b7efad468b11ebd2af943f3
  customization.html
  faq.html
  gha.html
  helium/laika-helium.css
  helium/landing.page.css
  index.html
  secrets.html
  site.html
Due: none

Inverted colour theme, added interim landing page gradient until the text colour is decoupled
  site/src/main/scala/org/typelevel/sbt/site/TypelevelSiteSettings.scala
Due: Label site PRs

Scala format fixes
  site/src/main/scala/org/typelevel/sbt/site/TypelevelSiteSettings.scala
Due: Label site PRs

switched from interim landing theme to the light version everyone loved
  site/src/main/scala/org/typelevel/sbt/site/TypelevelSiteSettings.scala
Due: Label site PRs

colours in syntax brightened for literals and comments: comments shifted more towards the green-end of cyan to distinguish, medium color darkened
  site/src/main/scala/org/typelevel/sbt/site/TypelevelSiteSettings.scala
Due: Label site PRs

Fixed unclosed bracket in the index, and added wink emoji to make it look less weird
  docs/index.md
Due: Label docs PRs

deploy: 0789a710f1a80c14044244b8cc44e63046f23f07
  index.html
  site.html
Due: none

deploy: 2c7e55245255b9fa5c46ad213b9570d7de95ff95
  helium/laika-helium.css
  site.html
Due: none

deploy: 80608af239eeec3368642e656240ada1b2983c21
  site.html
Due: none

deploy: fac0ec25fd0644c29238c0de9dfffdc8004a308b
  site.html
Due: none

Renamed old setting in no publish and corrected for the binary version
  .github/workflows/ci.yml
  ci/src/main/scala/org/typelevel/sbt/TypelevelCiPlugin.scala
  no-publish/src/main/scala/org/typelevel/sbt/NoPublishPlugin.scala
Due: Label ci PRs, Label no-publish PRs

formatting for PR
  no-publish/src/main/scala/org/typelevel/sbt/NoPublishPlugin.scala
Due: Label no-publish PRs

Generalised the module creation to account for cross-version type: no change to generated CI, illegal configurations are dropped gracefully
  no-publish/src/main/scala/org/typelevel/sbt/NoPublishPlugin.scala
Due: Label no-publish PRs

Formatting run
  no-publish/src/main/scala/org/typelevel/sbt/NoPublishPlugin.scala
Due: Label no-publish PRs

Update contributors
  .all-contributorsrc
  README.md
Due: none

deploy: c6b614633485d21f52aa4decb9bcd6e2c880f706
  site.html
Due: none

deploy: 4b8260ccf513618407a03e0fe2e2c96d111c429e
  site.html
Due: none

Removed autoimports object
  ci/src/main/scala/org/typelevel/sbt/TypelevelCiPlugin.scala
  no-publish/src/main/scala/org/typelevel/sbt/NoPublishPlugin.scala
Due: Label ci PRs, Label no-publish PRs

deploy: 6eeaf48d12af26a89144dfa1d8b4cb74b97cd3d0
  site.html
Due: none

Added test-internal to the ignored configs
  .github/workflows/ci.yml
  build.sbt
  ci/src/main/scala/org/typelevel/sbt/TypelevelCiPlugin.scala
Due: Label ci PRs

Removed snapshots
  .github/workflows/ci.yml
  build.sbt
Due: none

deploy: c5a520a1a5fd577048f86ffc379069fdaf0c6ff9
  site.html
Due: none

update dos - link to GHA page - mention changed default value when using TypelevelCiReleasePlugin
  docs/customization.md
Due: Label docs PRs

deploy: 19614d974677a0da0b89d2c7355076c818174d76
  api/index.html
  customization.html
  faq.html
  gha.html
  index.html
  secrets.html
  site.html
Due: none

Fix rendering of `modules-ignore`
  .github/workflows/ci.yml
  no-publish/src/main/scala/org/typelevel/sbt/NoPublishPlugin.scala
Due: Label no-publish PRs

deploy: 912cf0dfcf9cf8070ce59f7cf5d496a589eeee31
  site.html
Due: none

Fix syntax highlighting for g8 snippet
  docs/index.md
Due: Label docs PRs

deploy: 3d34de18de89aa9781e823823d04e4a8242114d4
  index.html
  site.html
Due: none

Add global permissions
  github-actions/src/main/scala/org/typelevel/sbt/gha/GenerativeKeys.scala
  github-actions/src/main/scala/org/typelevel/sbt/gha/GenerativePlugin.scala
  github-actions/src/main/scala/org/typelevel/sbt/gha/PermissionScope.scala
  github-actions/src/main/scala/org/typelevel/sbt/gha/WorkflowJob.scala
Due: Label github-actions PRs

dog food
  .github/workflows/ci.yml
  build.sbt
Due: none

Conveniences for setting default behavior
  .github/workflows/ci.yml
  build.sbt
  github-actions/src/main/scala/org/typelevel/sbt/gha/GenerativePlugin.scala
  github-actions/src/main/scala/org/typelevel/sbt/gha/PermissionScope.scala
Due: Label github-actions PRs

Update github-actions/src/main/scala/org/typelevel/sbt/gha/PermissionScope.scala
  github-actions/src/main/scala/org/typelevel/sbt/gha/PermissionScope.scala
Due: Label github-actions PRs

Fix CI
  .github/workflows/ci.yml
  github-actions/src/main/scala/org/typelevel/sbt/gha/GenerativePlugin.scala
  github-actions/src/main/scala/org/typelevel/sbt/gha/PermissionScope.scala
Due: Label github-actions PRs

Set coursier jvm flag during Scala Steward validation
  ci/src/main/scala/org/typelevel/sbt/TypelevelCiPlugin.scala
Due: Label ci PRs

fix
  ci/src/main/scala/org/typelevel/sbt/TypelevelCiPlugin.scala
Due: Label ci PRs

prePR
  .github/workflows/ci.yml
Due: none

Revert "Merge pull request #508 from armanbilge/fix/validate-steward-java"
  .github/workflows/ci.yml
  ci/src/main/scala/org/typelevel/sbt/TypelevelCiPlugin.scala
Due: Label ci PRs

Path conditions:
  Label ci PRs: any of: ^ci/
  Label ci-release PRs: any of: ^ci-release/
  Label ci-signing PRs: any of: ^ci-signing/
  Label core PRs: any of: ^core/
  Label docs PRs: any of: ^docs/
  Label github PRs: any of: ^github/
  Label github-actions PRs: any of: ^github-actions/
  Label kernel PRs: any of: ^kernel/
  Label mdocs PRs: any of: ^mdocs/
  Label mergify PRs: any of: ^mergify/
  Label mima PRs: any of: ^mima/
  Label no-publish PRs: any of: ^no-publish/
  Label scalafix PRs: any of: ^scalafix/
  Label settings PRs: any of: ^settings/
  Label site PRs: any of: ^site/
  Label sonatype PRs: any of: ^sonatype/
  Label sonatype-ci-release PRs: any of: ^sonatype-ci-release/
  Label versioning PRs: any of: ^versioning/
