Repository typelevel/sbt-typelevel: changes, and which Mergify rules are due for each by the changed paths.
All: Label ci PRs, Label ci-release PRs, Label ci-signing PRs, Label core PRs, Label docs PRs, Label github PRs, Label github-actions PRs, Label kernel PRs, Label mdocs PRs, Label mergify PRs, Label mima PRs, Label no-publish PRs, Label scalafix PRs, Label settings PRs, Label site PRs, Label sonatype PRs, Label sonatype-ci-release PRs, Label versioning PRs

Path conditions:
  Label ci PRs: any of: ^ci/
  Label ci-release PRs: any of: ^ci-release/
  Label ci-signing PRs: any of: ^ci-signing/
  Label core PRs: any of: ^core/
  Label docs PRs: any of: ^docs/
  Label github PRs: any of: ^github/
  Label github-actions PRs: any of: ^github-actions/
  Label kernel PRs: any of: ^kernel/
  Label mdocs PRs: any of: ^mdocs/
  Label mergify PRs: any of: ^mergify/
  Label mima PRs: any of: ^mima/
  Label no-publish PRs: any of: ^no-publish/
  Label scalafix PRs: any of: ^scalafix/
  Label settings PRs: any of: ^settings/
  Label site PRs: any of: ^site/
  Label sonatype PRs: any of: ^sonatype/
  Label sonatype-ci-release PRs: any of: ^sonatype-ci-release/
  Label versioning PRs: any of: ^versioning/

Tweak docs
  ci/src/main/scala/org/typelevel/sbt/TypelevelCiPlugin.scala
  docs/customization.md
Due: Label ci PRs, Label docs PRs

deploy: 4674a76747b57ab109b207f3a8969deefd7e34cd
  site.html
Due: none

deploy: b48f58e7a8b44639af8a27a7ad139672deb591d3
  customization.html
  site.html
Due: none

deploy: 131c783815e65e5a133dc07977e144bf57c0b3b2
  site.html
Due: none

deploy: 79010500a11c9dbb3eb276cb8907f7719094e88d
  site.html
Due: none

Update sbt-scalafix to 0.13.0
  build.sbt
  scalafix/build.sbt
Due: Label scalafix PRs

use `stb/setup-sbt` to install sbt on all platforms
  .github/workflows/ci.yml
  github-actions/src/main/scala/org/typelevel/sbt/gha/GenerativePlugin.scala
Due: Label github-actions PRs

deploy: 349760b6df128ef49beebab095c8be1aba008fad
  site.html
Due: none

deploy: 06a10fdd5cc63ffc7b1a0cbba1a710c1669bfc1d
  site.html
Due: none

deploy: 2d1444f284c737334caa27344dcbb784c573021d
  site.html
Due: none

Revert "Update sbt-sonatype to 3.12.0"
  sonatype/build.sbt
Due: Label sonatype PRs

deploy: aeae325dfee59f0ac90a212f2aa09ccc5b277e95
  site.html
Due: none

Expose `SetupSbt` step
  .github/workflows/ci.yml
  github-actions/src/main/scala/org/typelevel/sbt/gha/GenerativePlugin.scala
  github-actions/src/main/scala/org/typelevel/sbt/gha/WorkflowStep.scala
Due: Label github-actions PRs

Trying a shorter job name for better display in GHA
  .github/workflows/ci.yml
  .mergify.yml
  github-actions/src/main/scala/org/typelevel/sbt/gha/GenerativePlugin.scala
Due: Label github-actions PRs

deploy: 60e81c5b0d916c4aebf140696e9e006081a6e0e5
  api/index.html
  customization.html
  faq.html
  gha.html
  index.html
  secrets.html
  site.html
Due: none

pin to ubuntu-22.04 instead of latest
  github-actions/src/main/scala/org/typelevel/sbt/gha/GenerativeKeys.scala
  github-actions/src/main/scala/org/typelevel/sbt/gha/GenerativePlugin.scala
  github-actions/src/main/scala/org/typelevel/sbt/gha/WorkflowJob.scala
Due: Label github-actions PRs

automated consequences
  .github/workflows/ci.yml
  .mergify.yml
Due: none

bump to graalvm@21
  .github/workflows/ci.yml
  .mergify.yml
  build.sbt
Due: none

deploy: a5a149612cf711da999fc341e366474329b9167c
  site.html
Due: none

deploy: 885eb22201e3f11947b8e0466f29b58292651d6a
  site.html
Due: none

use "Test" as job name
  .github/workflows/ci.yml
  .mergify.yml
  github-actions/src/main/scala/org/typelevel/sbt/gha/GenerativePlugin.scala
Due: Label github-actions PRs

deploy: dba456cf5e78bc293ad4a970cdf92e9190a72998
  site.html
Due: none

deploy: 4313a0e8676c302321b3f6faec0fee2791d5d793
  site.html
Due: none

deploy: ee325eb158641acea6f0fdb7a37816dd3e71df59
  site.html
Due: none

deploy: fae3cb2756a41f2dfd8c09b8066741d7e22607e1
  site.html
Due: none

deploy: dd2116913b64f7b6210fea8dacc607303d76dbc0
  site.html
Due: none

deploy: 852993ec5c0b8371b7ddbb64b74acb8608a93d90
  site.html
Due: none

deploy: 32fdda97892e841b552c4cfef49f7424701b17bb
  site.html
Due: none

Add 'with*' for Permissions.Specify
  github-actions/src/main/scala/org/typelevel/sbt/gha/PermissionScope.scala
Due: Label github-actions PRs

Add mima override for what should be a safe change with early-semver
  github-actions/mima.sbt
Due: Label github-actions PRs

Update .gitignore
  .gitignore
Due: none

Tweak the publication condition to prevent publishing from forked repos
  github-actions/src/main/scala/org/typelevel/sbt/gha/GenerativePlugin.scala
Due: Label github-actions PRs

Regenerate ci.yml
  .github/workflows/ci.yml
Due: none

Add the githubWorkflowForkCondition sbt setting
  ci/src/main/scala/org/typelevel/sbt/TypelevelCiPlugin.scala
  docs/gha.md
  github-actions/src/main/scala/org/typelevel/sbt/gha/GenerativeKeys.scala
  github-actions/src/main/scala/org/typelevel/sbt/gha/GenerativePlugin.scala
Due: Label ci PRs, Label docs PRs, Label github-actions PRs

Tweak GenerativePlugin
  github-actions/src/main/scala/org/typelevel/sbt/gha/GenerativePlugin.scala
Due: Label github-actions PRs

Add continueOnError option to WorkflowStep
  github-actions/src/main/scala/org/typelevel/sbt/gha/GenerativePlugin.scala
  github-actions/src/main/scala/org/typelevel/sbt/gha/WorkflowStep.scala
Due: Label github-actions PRs

Bump tlBaseVersion
  build.sbt
Due: none

Create a `Workflow` type to capture an entire workflow file.
  .github/workflows/clean.yml
  github-actions/src/main/resources/clean.yml
  github-actions/src/main/scala/org/typelevel/sbt/gha/GenerativeKeys.scala
  github-actions/src/main/scala/org/typelevel/sbt/gha/GenerativePlugin.scala
  github-actions/src/main/scala/org/typelevel/sbt/gha/Secrets.scala
  github-actions/src/main/scala/org/typelevel/sbt/gha/Workflow.scala
  github-actions/src/main/scala/org/typelevel/sbt/gha/WorkflowJob.scala
  github-actions/src/main/scala/org/typelevel/sbt/gha/WorkflowTrigger.scala
Due: Label github-actions PRs

Split out re-usable workflows for regular workflows
  build.sbt
  ci/src/main/scala/org/typelevel/sbt/TypelevelCiPlugin.scala
  github-actions/src/main/scala/org/typelevel/sbt/gha/GenerativePlugin.scala
  github-actions/src/main/scala/org/typelevel/sbt/gha/WorkflowJob.scala
  mergify/src/main/scala/org/typelevel/sbt/mergify/MergifyPlugin.scala
  site/src/main/scala/org/typelevel/sbt/TypelevelSitePlugin.scala
Due: Label ci PRs, Label github-actions PRs, Label mergify PRs, Label site PRs

change sort order so final releases are last not first.
  kernel/src/main/scala/org/typelevel/sbt/kernel/V.scala
Due: Label kernel PRs
