Repository typelevel/sbt-typelevel: changes, and which Mergify rules are due for each by the changed paths.
All: Label ci PRs, Label ci-release PRs, Label ci-signing PRs, Label core PRs, Label docs PRs, Label github PRs, Label github-actions PRs, Label kernel PRs, Label mdocs PRs, Label mergify PRs, Label mima PRs, Label no-publish PRs, Label scalafix PRs, Label settings PRs, Label site PRs, Label sonatype PRs, Label sonatype-ci-release PRs, Label versioning PRs

Label ci PRs:
  label:
    add:
    - ci
    remove: []

Label ci-release PRs:
  label:
    add:
    - ci-release
    remove: []

Label ci-signing PRs:
  label:
    add:
    - ci-signing
    remove: []

Label core PRs:
  label:
    add:
    - core
    remove: []

Label docs PRs:
  label:
    add:
    - docs
    remove: []

Label github PRs:
  label:
    add:
    - github
    remove: []

Label github-actions PRs:
  label:
    add:
    - github-actions
    remove: []

Label kernel PRs:
  label:
    add:
    - kernel
    remove: []

Label mdocs PRs:
  label:
    add:
    - mdocs
    remove: []

Label mergify PRs:
  label:
    add:
    - mergify
    remove: []

Label mima PRs:
  label:
    add:
    - mima
    remove: []

Label no-publish PRs:
  label:
    add:
    - no-publish
    remove: []

Label scalafix PRs:
  label:
    add:
    - scalafix
    remove: []

Label settings PRs:
  label:
    add:
    - settings
    remove: []

Label site PRs:
  label:
    add:
    - site
    remove: []

Label sonatype PRs:
  label:
    add:
    - sonatype
    remove: []

Label sonatype-ci-release PRs:
  label:
    add:
    - sonatype-ci-release
    remove: []

Label versioning PRs:
  label:
    add:
    - versioning
    remove: []

More precise migration advice. Use wording similar to other deprecation warnings.
  github-actions/src/main/scala/org/typelevel/sbt/gha/JavaSpec.scala
Due: Label github-actions PRs

Support new Java Distributions (#564)
  .github/workflows/ci.yml
  .mergify.yml
  build.sbt
  github-actions/src/main/scala/org/typelevel/sbt/gha/JavaSpec.scala
Due: Label github-actions PRs

Bumped stale version in WorkflowJob
  github-actions/src/main/scala/org/typelevel/sbt/gha/WorkflowJob.scala
Due: Label github-actions PRs

Better yet, just drop to binary version
  github-actions/src/main/scala/org/typelevel/sbt/gha/WorkflowJob.scala
Due: Label github-actions PRs

mention affiliate projects
  docs/site.md
Due: Label docs PRs

Link to sbt-dep-sub and steward
  build.sbt
Due: none

Pin sbt to 1.9.x
  .scala-steward.conf
Due: none

Allow to independently configure components of cross root project
  ci/src/main/scala/org/typelevel/sbt/CrossRootProject.scala
Due: Label ci PRs

doc updates: * layout for plugin list * add BSP plugin * update plugin.dot and svg
  core/src/main/scala/org/typelevel/sbt/TypelevelBspPlugin.scala
  docs/customization.md
  docs/plugins.dot
  docs/plugins.svg
Due: Label core PRs, Label docs PRs

dealt with the main colour changes, not syntax
  site/src/main/scala/org/typelevel/sbt/site/TypelevelSiteSettings.scala
Due: Label site PRs

brightened the paleYellow a bit
  site/src/main/scala/org/typelevel/sbt/site/TypelevelSiteSettings.scala
Due: Label site PRs

syntax colouring, and adjusted grey-pink
  docs/faq.md
  site/src/main/scala/org/typelevel/sbt/site/TypelevelSiteSettings.scala
Due: Label docs PRs, Label site PRs

pre-PR formatting
  site/src/main/scala/org/typelevel/sbt/site/TypelevelSiteSettings.scala
Due: Label site PRs

Improved contrast between the pinkgrey and the now tlRed
  site/src/main/scala/org/typelevel/sbt/site/TypelevelSiteSettings.scala
Due: Label site PRs

Added spaces in comments
  site/src/main/scala/org/typelevel/sbt/site/TypelevelSiteSettings.scala
Due: Label site PRs

Update docs/customization.md
  docs/customization.md
Due: Label docs PRs

doc updates: (#572)
  core/src/main/scala/org/typelevel/sbt/TypelevelBspPlugin.scala
  docs/customization.md
  docs/plugins.dot
  docs/plugins.svg
Due: Label core PRs, Label docs PRs

skip mima task, if no artifacts should be published
  mima/src/main/scala/org/typelevel/sbt/TypelevelMimaPlugin.scala
Due: Label mima PRs

Also add `scalac-compat` to `Test` scope
  settings/src/main/scala/org/typelevel/sbt/TypelevelSettingsPlugin.scala
Due: Label settings PRs

Publish docs site from main branch
  .github/workflows/ci.yml
  build.sbt
Due: none

deploy: d3803b4f45cdfd0283624bd280ab5879b0953a79
  api/index.html
  customization.html
  faq.html
  gha.html
  helium/laika-helium.css
  helium/laika-helium.js
  helium/landing.page.css
  index.html
  plugins.dot
  plugins.svg
  secrets.html
  site.html
Due: none

javadoc.io now supports sbt
  sonatype/src/main/scala/org/typelevel/sbt/TypelevelSonatypePlugin.scala
Due: Label sonatype PRs

Adjusted non-existent landing page colours to ensure they don't look odd
  site/src/main/scala/org/typelevel/sbt/site/TypelevelSiteSettings.scala
Due: Label site PRs

Try to setup site artifact upload/download dance
  .github/workflows/ci.yml
  .mergify.yml
  build.sbt
  ci-signing/src/main/scala/org/typelevel/sbt/TypelevelCiSigningPlugin.scala
  github-actions/src/main/scala/org/typelevel/sbt/gha/GenerativeKeys.scala
  github-actions/src/main/scala/org/typelevel/sbt/gha/GenerativePlugin.scala
  github-actions/src/main/scala/org/typelevel/sbt/gha/WorkflowStep.scala
  project/build.sbt
  site-ci-release/src/main/scala/org/typelevel/sbt/TypelevelSiteCiReleasePlugin.scala
  sonatype-ci-release/src/main/scala/org/typelevel/sbt/TypelevelSonatypeCiReleasePlugin.scala
Due: Label ci-signing PRs, Label github-actions PRs, Label sonatype-ci-release PRs

deploy: 83af453e11265a8456b79ea6696a6047499b4a35
  site.html
Due: none

Formatting
  site-ci-release/src/main/scala/org/typelevel/sbt/TypelevelSiteCiReleasePlugin.scala
Due: none

Fix artifact upload id
  .github/workflows/ci.yml
  github-actions/src/main/scala/org/typelevel/sbt/gha/GenerativePlugin.scala
Due: Label github-actions PRs

fix rendering of bullet lists
  docs/customization.md
Due: Label docs PRs

only use parameter for `Some(NonEmptyList)`
  github-actions/src/main/scala/org/typelevel/sbt/gha/WorkflowStep.scala
Due: Label github-actions PRs

deploy: 8165559fd7d90031c80ecea4735cef869cbbfcfa
  customization.html
  site.html
Due: none

deploy: 62621809a1b66cf8afa3babea40e4360268d1f07
  site.html
Due: none

Deprecate `tlSkipIrrelevantScalas`
  ci/src/main/scala/org/typelevel/sbt/CrossRootProject.scala
  docs/customization.md
  kernel/src/main/scala/org/typelevel/sbt/TypelevelKernelPlugin.scala
  mima/src/main/scala/org/typelevel/sbt/TypelevelMimaPlugin.scala
Due: Label ci PRs, Label docs PRs, Label kernel PRs, Label mima PRs

Unused import
  mima/src/main/scala/org/typelevel/sbt/TypelevelMimaPlugin.scala
Due: Label mima PRs

deploy: 65c0170082529e5f1fd4841a66b3e6b5fcf5e95e
  site.html
Due: none

organize imports
  ci/src/main/scala/org/typelevel/sbt/CrossRootProject.scala
Due: Label ci PRs

Disable publishing from this branch
  .github/workflows/ci.yml
  build.sbt
Due: none

Ignore site module in dependency submission
  .github/workflows/ci.yml
  ci/src/main/scala/org/typelevel/sbt/TypelevelCiPlugin.scala
  docs/customization.md
  site/src/main/scala/org/typelevel/sbt/TypelevelSitePlugin.scala
Due: Label ci PRs, Label docs PRs, Label site PRs

Workaround no sbt-tl-ci dep in sbt-tl-site
  site/src/main/scala/org/typelevel/sbt/TypelevelSitePlugin.scala
Due: Label site PRs

deploy: 8b896b4a72fd134ab6bf08dd19e4aebf2062e41c
  customization.html
  site.html
Due: none

Path conditions:
  Label ci PRs: any of: ^ci/
  Label ci-release PRs: any of: ^ci-release/
  Label ci-signing PRs: any of: ^ci-signing/
  Label core PRs: any of: ^core/
  Label docs PRs: any of: ^docs/
  Label github PRs: any of: ^github/
  Label github-actions PRs: any of: ^github-actions/
  Label kernel PRs: any of: ^kernel/
  Label mdocs PRs: any of: ^mdocs/
  Label mergify PRs: any of: ^mergify/
  Label mima PRs: any of: ^mima/
  Label no-publish PRs: any of: ^no-publish/
  Label scalafix PRs: any of: ^scalafix/
  Label settings PRs: any of: ^settings/
  Label site PRs: any of: ^site/
  Label sonatype PRs: any of: ^sonatype/
  Label sonatype-ci-release PRs: any of: ^sonatype-ci-release/
  Label versioning PRs: any of: ^versioning/
